<?xml version="1.0"?>
<appSettings>
  <add key="ds_administradorEducacional" value="Capacitação"/>
  <add key="SMTPServer" value="ironport.gradualcorretora.com.br"/>
  <add key="SMTPRemetente" value="atendimento@gradualinvestimentos.com.br"/>
  <add key="EmailEnvioRecursos" value="akubo@gradualinvestimentos.com.br"/>
  <add key="SMTPCursoPalestra" value="cursosepalestras@gradualinvestimentos.com.br"/>
  <add key="SMTPGestaoPessoas" value="gestaodepessoas@gradualinvestimentos.com.br"/>
  <add key="EMailAtendimento" value="atendimento@gradualinvestimentos.com.br"/>
  <add key="EMailOuvidoria" value="ouvidoria@gradualinvestimentos.com.br"/>
  <add key="CaminhoEMailOuvidoria" value="\\GSP-SRV-WHB08.gradual.intra\Portal\EMailOuvidoria.txt"/>
  <add key="SMTPGradualInvestimentos" value="atendimento@gradualinvestimentos.com.br"/>
  <add key="EMailInvestidorInstitucional" value="institucional@gradualinvestimentos.com.br"/>
  <add key="pathWebExcelClienteCursoPalestra" value="/Educacional/ADM/ArquivosRelatorios"/>
  <add key="PathHB" value="http://homebroker.gradualinvestimentos.com.br/Default.aspx?guid="/>
  <add key="Migracao" value="yxwasxza123456"/>
  <add key="PathInfoMoney" value="\\clusterfs01\iis\wwwroot\gradual\infomoney\"/>
  <add key="SMTPUser"/>
  <add key="SMTPPassword"/>
  <add key="PathTermos" value="http://cadastro.gradualinvestimentos.com.br/termos/"/>
  <add key="WSDTCompra.compra" value="http://125.255.60.72/compra.asmx"/>
  <add key="WSTDConectividade.INFRAConectividadeWS" value="http://125.255.60.72/INFRAConectividadeWS/INFRAConectividadeWS.asmx"/>
  <add key="WSTDConsultas.consultas" value="http://125.255.60.72/consultas.asmx"/>
  <add key="WSTDInvestidor.investidor" value="http://125.255.60.72/investidor/investidor.asmx"/>
  <add key="WSTDVenda.venda" value="http://125.255.60.72/venda.asmx"/>
  <add key="RUNMODE" value="DEBUG"/>
  <add key="AccessDeniedRedirectPage" value="/Cadastro/Pages/Login.aspx"/>
  <add key="TDHeader_LoginNome" value="227WebServ"/>
  <add key="TDHeader_LoginSenha" value="Serv*%$227"/>
  <add key="TDHeader_ContratoSenha" value="33R3BBM88"/>
  <add key="TDHeader_ContratoHash" value="-8w-5-gAyJRN"/>
  <add key="LogEnabled" value="False"/>
  <add key="LogPath" value="~/Logs/"/>
  <add key="GradualInvestimentos_WSTDConsultas_consultas" value="http://125.255.60.72/consultas.asmx"/>
  <add key="GradualInvestimentos_WSDTCompra_compra" value="http://125.255.60.72/compra.asmx"/>
  <add key="GradualInvestimentos_WSTDConectividade_CTestaConectividade" value="http://125.255.60.72/INFRAConectividadeWS/INFRAConectividadeWS.asmx"/>
  <add key="GradualInvestimentos_WSTDVenda_venda" value="http://125.255.60.72/venda.asmx"/>
  <add key="GradualInvestimentos_WSTDInvestidor_Investidor" value="http://125.255.60.72/investidor/investidor.asmx"/>
  <add key="ModuloCaminhoVirtual" value="/cms2/ModulosTemplate/"/>
  <add key="PathIPO" value="http://reserva.gradualinvestimentos.com.br/default.aspx?COD=###CBLC###&amp;ISIN=###ISIN###"/>
  <add key="URLChat" value="http://gradual.ananke.com.br/client/entrar.pl?templatedir=&amp;area_id=60&amp;sala_id=139" />
  <add key="ChatAtendimento" value="'http://chat.gradualinvestimentos.com.br/default.aspx?chat=1&amp;group=Origem&amp;url=+window.location','chat','width=498,height=348,resizable=no,toolbar=0,location=0,directories=0,status=no,menubar=0,scrollbars=0'"/>
  <add key="TaxaCustodia" value="40"/>
  <add key="homes" value="5,211,215,216,307"/>
  
  <!--Id das páginas que são carregadas-->
  <add key="ID_PAGINA_DIRECT" value="307"/>
  <add key="ID_PAGINA_TIPO_PLANO" value="310"/>
  <add key="ID_PAGINA_SEGURANCA" value="49"/>
  <add key="ID_PAGINA_LEGISLACAO_REGRAS" value="33"/>
  <add key="ID_PAGINA_CONTRATOS_FICHA" value="29"/>
  <add key="ID_PAGINA_DOCUMENTACAO" value="41"/>
  <add key="ID_PAGINA_CUSTOS" value="30"/>
  <add key="ID_PAGINA_COMO_INVESTIR" value="315"/>
  <add key="AssessorDirect" value="438"/>
  
  <!-- CMS -->
  <add key="ApplicationName" value="CMS2"/>
  <add key="Smtp" value="ironport.gradualcorretora.com.br"/>
  <add key="MailSender" value="ipereira@gradualinvestimentos.com.br"/>
  <add key="MailError" value="ipereira@gradualinvestimentos.com.br"/>
  <add key="UrlImagens" value="http://www.gradualinvestimentos.com.br/"/>
  <add key="ServidoresUpload" value="\\GSP-SRV-WHB08.gradual.intra\Portal;\\GSP-SRV-WHB09.gradual.intra\Portal;\\GSP-SRV-WHB10.gradual.intra\Portal"/>
  <add key="IpServidores" value="GSP-SRV-WHB08.gradual.intra;GSP-SRV-WHB09.gradual.intra;GSP-SRV-WHB10.gradual.intra" />
  <!-- Rewriting.Net -->
  <add key="HandlerDefaultSplitter" value="__"/>
  <add key="HandlerFlag" value="site"/>
  <add key="PageIdNoSplitter" value="false"/>
  <add key="FriendlyPageName" value="Conteudo.aspx"/>
  <add key="UseAlias" value="false"/>
  <add key="LangInURL" value="false"/>
  <add key="DefaultPortal" value="GradualInvestimentos"/>
  <!-- Suitability -->
  <add key="PathSuitability" value="http://suitability.gradualinvestimentos.com.br/suitability.swf?XMLConfig=http://suitability.gradualinvestimentos.com.br/DadosQuiz.xml"></add>
  <add key="wsSuitability.wssuitability" value="http://suitabilityws.gradualinvestimentos.com.br/wssuitability.asmx"/>
  <!--Minha Conta-->
  <add key="EmailCalculadoraIR"     value="codigo@gradual.com.br" />
  <add key="Alavancagem2X" value="198"/>
  <add key="Alavancagem3X" value="200"/>
  <add key="Alavancagem5X" value="199"/>

  <add key="VendaAVista" value="5"/>
  <add key="VendaOpcao" value="7"/>
  <add key="LimiteMaxBoleta" value="8"/>
  <add key="CompraAVista" value="12"/>
  <add key="CompraOpcao" value="13"/>

  <add key="IDCorretora" value="14"/>
  <add key="EmailIR" value="codigo@gradual.com.br"/>
  <add key="siteMyCapital" value="http://piloto.mycapital.com.br/mycapitalws/viewext/parceria.seam"/>

  <add key="CarteiraRecomendada" value="Petrobras PN (PETR4), BR Properties ON (BRPR3), Banco do Brasil ON (BBAS3), PDG Realty ON (PDGR3), Random PN (RAPT4)" />
  
  
</appSettings>