USE [OMS]
GO
/****** Object:  Table [dbo].[TB_ALERTAS_OPERANDO]    Script Date: 08/23/2011 10:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ALERTAS_OPERANDO](
	[Tipo] [int] NOT NULL,
	[Descricao] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_TB_ALERTAS_OPERANDO] PRIMARY KEY CLUSTERED 
(
	[Tipo] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF