<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MDS" value="Data Source=192.168.254.14;Initial Catalog=MDS;User Id=oms;Password=gradual123*;" />
    <add key="NumeroItemsHash" value="10"/>
    <add key="EmailAlertaReplyTo" value="cnakata@gradualinvestimentos.com.br" />
    <add key="EmailAlertaHost" value="ironport.gradual.intra" />
    <add key="TimeoutMDS" value="300" />
    <add key="EfetuarLogonMDS" value="true" />
    <add key="ListenPort" value="6866" />
    <add key="ASConnMDSPort" value="6868" />
    <add key="ASConnMDSIp" value="10.0.13.152" />
  </appSettings>
</configuration>