<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add providerName="System.Data.SqlClient"    name="GradualSpider"     connectionString="Data Source=125.227.220.95; User Id=directtrade; Password=directtrade!1985; Initial Catalog=GradualSpider;" />
    <add providerName="System.Data.SqlClient"    name="Risco"             connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeRisco;User Id=directtrade;Password=directtrade!1985;" />
    <!--<add name="Risco"       providerName="System.Data.SqlClient"    connectionString="Data Source=192.168.254.14;Initial Catalog=DirectTradeRisco;User Id=sa;Password=gradual123*;" />-->
  </connectionStrings>
</configuration>