<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ArquivoClientes" value="C:\Documents and Settings\gguimaraes\Desktop\ServicoOrbion\Arquivos\clientes.txt" />
    <add key="ArquivoAssessores" value="C:\Documents and Settings\gguimaraes\Desktop\ServicoOrbion\Arquivos\assessores.txt" />
    <add key="BancoOracle" value="Data Source=homo;Persist Security Info=True;User ID=cadastrosinacor;Password=cadastrosinacor" />
    <add key="BancoSql" value="Data Source=192.168.254.14;Initial Catalog=DirectTradeCadastro;User Id=directtrade;Password=directtrade!1985;" />
    <add key="PeriodoDeExecucaoEmHoras" value="2" />
    <!--
			Explicação:
				- As chaves ArquivoClientes e ArquivoAssessores indicam o local onde os arquivos serão gerados
				- A chave Banco indica a conexão com o banco de dados
				- A chave schedule indica a hora que o serviço vai gerar os arquivos, a geração dos arquivos ocorrerá nos 10 primeiros minuto da hora informada na chave Schedule.
			Importante:
				- Para a alteração ter efeito é necessário reiniciar o serviço do windows.
		-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <requiredRuntime version="v4.0.20506" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>