<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <connectionStrings>
    <add providerName="System.Data.SqlClient"    name="Clubes"            connectionString="Data Source=gsp-srv-bcdrive;Initial Catalog=sim_cvgra;User Id=simgra;Password=sisfinance;" />
    <add providerName="System.Data.SqlClient"    name="OMS"               connectionString="Data Source=192.168.254.14;Initial Catalog=OMS;User Id=oms;Password=gradual123*;" />
    <add providerName="System.Data.OracleClient" name="TRADE"             connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=PROD_TRADE" />
  </connectionStrings>

  <Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
    <BaseAddress>net.tcp://192.168.254.11:8039</BaseAddress>
    <MexBaseAddress>http://10.0.11.152:8143/MEX</MexBaseAddress>
    <Servicos>

      <ServicoInfo>
        <NomeInterface>Gradual.OMS.ClubesFundos.Lib.IServicoClubesFundos, Gradual.OMS.ClubesFundos.Lib</NomeInterface>
        <NomeInstancia>Gradual.OMS.ClubesFundos.ServicosClubesFundos, Gradual.OMS.ClubesFundos</NomeInstancia>
        <AtivarWCF>true</AtivarWCF>
        <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
        <RegistrarLocalizador>true</RegistrarLocalizador>
      </ServicoInfo>

    </Servicos>
  </Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>

  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://10.0.11.156:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>


  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
