<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Gradual.OMS.Library.LocalizadorTiposConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.AtivadorConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://10.0.11.157:18000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>

  <Gradual.OMS.Library.Servicos.AtivadorConfig>
    <Servicos>
      <ServicoInfo>
        <NomeInterface>Gradual.MDS.Adm.Lib.IServicoMdsAdm, Gradual.MDS.Adm.Lib</NomeInterface>
        <NomeInstancia>Gradual.MDS.Core.ServicoMDS, Gradual.MDS.Core</NomeInstancia>
        <AtivarWCF>false</AtivarWCF>
        <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
        <EndPoints>
          <ServicoEndPointInfo>
            <!-- <Endereco>http://10.255.247.97:8240/Gradual.MDS.Adm.Lib.IServicoMdsAdm</Endereco> -->
            <Endereco>http://10.255.247.97:18240/Gradual.MDS.Adm.Lib.IServicoMdsAdm</Endereco>
            <NomeBindingType>System.ServiceModel.BasicHttpBinding</NomeBindingType>
          </ServicoEndPointInfo>
        </EndPoints>
      </ServicoInfo>
    </Servicos>
  </Gradual.OMS.Library.Servicos.AtivadorConfig>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>


    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="MdsManagerApp.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
