<?xml version="1.0"?>
<appSettings>
  <add key="pathVirtualIntranet"       value="D:\Gradual\Source\Gradual.Site-II\Gradual.Site-II.Www\Resc\Upload\" />
  <add key="pathVirtualPortal"         value="D:\Gradual\Source\Gradual.Site-II\Gradual.Site-II.Www\Resc\PDFs\FichaCadastral\"/>
  <add key="pathVirtualPDF"            value="D:\Gradual\Source\Gradual.Site-II\Gradual.Site-II.Www\Resc\PDFs\FichaCadastral\"/>
  <add key="pathVirtualImages"         value="D:\Gradual\Source\Gradual.Site-II\Gradual.Site-II.Www\Resc\RecursosVisuais\Imagens\"/>
  <add key="pathVirtualImagesCadastro" value="D:\Gradual\Source\Gradual.Site-II\Gradual.Site-II.Www\Resc\RecursosVisuais\Imagens\"/>
</appSettings>