<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add providerName="System.Data.OracleClient" name="SINACOR"           connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=PROD_TRADE" />
  </connectionStrings>
  <appSettings>
    <add key="PAthMTA" value="S:\MTA\enviar\"/>
  </appSettings>
</configuration>
