<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="StreamerDeCotacao" value="http://newgti.gradualinvestimentos.com.br:19090" />
    <!-- <add key="StreamerDeCotacao" value="http://192.168.254.110:9090" /> -->
    <add key="StreamerDeCotacaoHomologacao" value="http://192.168.254.110:9090" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="PortaAssessor" value="317" />
    <add key="PortaCliente" value="362" />
    <add key="PortaHomebroker" value="302" />
    <add key="CodigoDoOperador" value="" />
    <add key="ContaMaster" value="" />
    <add key="ValidaAssinaturaFlexScan" value="SIM" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ResumoSemValidacao" value="false"/>
    <add key="Environment" value="Producao" />
    <add key="DURACAO_POST" value="100" />
    <add key="DURACAO_RESPONSE" value="300" />
    <add key="DURACAO_READ" value="100" />
    <add key="FILA" value="500" />
    <add key="Skin" value="GL" />
    <!-- Icones: Claros ou Escuros -->
    <add key="Icones" value="Claros" />
  </appSettings>
</configuration>
