<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default"  type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig"   type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <!--<section name="Gradual.OMS.Library.Servicos.AtivadorConfig"             type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>-->
    <!--<section name="Gradual.OMS.Library.LocalizadorTiposConfig"              type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>-->
    <section name="log4net"                                                 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>-->

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\PosicaoLog\MonitorPosicao.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %logger %method - %message%newline"/>
      </layout>
    </appender>

    <appSettings>
      <add key="CursorRetorno" value="Retorno"/>
    </appSettings>

    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <!--<add name="GradualOMS"      providerName="System.Data.SqlClient"    connectionString="Data Source=192.168.254.14;Initial Catalog=GradualOMS;User Id=directtrade;Password=directtrade!1985;" />-->
    <add name="GradualOMS"      providerName="System.Data.SqlClient"    connectionString="Data Source=125.227.220.95;Initial Catalog=GradualOMS;User Id=directtrade;Password=directtrade!1985;" />
    <add name="ClubesFundos"    providerName="System.Data.SqlClient"    connectionString="Data Source=125.227.220.95;Initial Catalog=GRADUAL_CLUBES_FUNDOS;User Id=directtrade;Password=directtrade!1985;"/>
    <add name="Cadastro"        providerName="System.Data.SqlClient"    connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeCadastro;User Id=directtrade;Password=directtrade!1985;"/>
    <add name="Risco"           providerName="System.Data.SqlClient"    connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeRisco;User Id=directtrade;Password=directtrade!1985;"/>
    <add name="Config"          providerName="System.Data.SqlClient"    connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeConfiguracoes;User Id=directtrade;Password=directtrade!1985;"/>
    <add name="OMS"             providerName="System.Data.SqlClient"    connectionString="Data Source=192.168.254.14;Initial Catalog=OMS;User Id=sa;Password=gradual123*;"/>
    <add name="CORRWIN"         providerName="System.Data.OracleClient" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=corrwin;Password=gradual200877"/>
    <add name="SINACOR"         providerName="System.Data.OracleClient" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=prod_trade"/>
    <add name="CONTAMARGEM"     providerName="System.Data.OracleClient" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=CONTA_MARGEM_NEW;Password=CONTA_MARGEM_NEW"/>
    <add name="Clubes"          providerName="System.Data.SqlClient"    connectionString="Data Source=gsp-srv-bcdrive;Initial Catalog=sim_cvgra;User Id=simgra;Password=sisfinance;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>