<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AlertasMDSIp" value="192.168.254.13" />
        <add key="AlertasMDSPort" value="41387" />
        <add key="Alertas" value="Data Source=192.168.254.14;Initial Catalog=OMS;User Id=oms;Password=gradual123*;"/>
        <add key="AlertasServerPort" value="" />
    </appSettings>
</configuration>