<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.AtivadorConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Gradual.OMS.Library.LocalizadorTiposConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="Sunda" type="log4net.Appender.FileAppender">
      <file value="AppTeste1.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date%-5level %logger [%property{NDC}]  - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="CarteiraRecomendada.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger %method - %message%newline" />  -->
        <conversionPattern value="%date - %logger %method - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

  <!--Gradual.OMS.Library.Servicos.AtivadorConfig>
    <Servicos>
      <ServicoInfo>
        <NomeInterface>Gradual.OMS.CarteiraRecomendada.lib.IServicoCarteiraRecomendada, Gradual.OMS.CarteiraRecomendada.lib</NomeInterface>
        <NomeInstancia>Gradual.OMS.CarteiraRecomendada.ServicoCarteiraRecomendada, Gradual.OMS.CarteiraRecomendada</NomeInstancia>
        <AtivarWCF>false</AtivarWCF>
        <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
        <EndPoints>
          <ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.109:8044/Gradual.OMS.CarteiraRecomendada.lib.IServicoCarteiraRecomendada</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>
        </EndPoints>
      </ServicoInfo>
    </Servicos>
    </Gradual.OMS.Library.Servicos.AtivadorConfig-->

    <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://10.0.11.152:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
      <!--<Endereco>net.tcp://192.168.254.11:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco-->
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
  <!-- LOCALIZADOR DE TIPOS -->
  <Gradual.OMS.Library.LocalizadorTiposConfig>
    <Grupos>
      <LocalizadorGrupoTipoInfo TipoChamador="Gradual.OMS.Contratos.Comum.IServicoMensageria, Gradual.OMS.Contratos.Comum">
        <Tipos>
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.Comum.Dados, Gradual.OMS.Contratos.Comum" />
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.Comum.Mensagens, Gradual.OMS.Contratos.Comum" />
          <LocalizadorTipoInfo IncluirNamespace="Gradual.Servico.Contrato.Risco.Dados, Gradual.Servico.Contrato.Risco" />
          <LocalizadorTipoInfo IncluirNamespace="Gradual.Servico.Contrato.Risco.Mensageria, Gradual.Servico.Contrato.Risco" />
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.ContaCorrente.Mensagens, Gradual.OMS.Contratos.ContaCorrente" />
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.ContaCorrente.Dados, Gradual.OMS.Contratos.ContaCorrente" />
        </Tipos>
      </LocalizadorGrupoTipoInfo>
    </Grupos>
  </Gradual.OMS.Library.LocalizadorTiposConfig>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="EnvioOrdens.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <connectionStrings>
      <add name="Risco"       providerName="System.Data.SqlClient"    connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeRisco;User Id=directtrade;Password=directtrade!1985;" />
      <add name="Cadastro"    providerName="System.Data.SqlClient"    connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeCadastro;User Id=directtrade;Password=directtrade!1985;" />
      <add name="OMS"         providerName="System.Data.SqlClient"    connectionString="Data Source=125.227.220.95;Initial Catalog=OMS;User Id=oms;Password=gradual123*;" />
      <add name="SINACOR"     providerName="System.Data.OracleClient" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=prod_trade" />
      <add name="CONTAMARGEM" providerName="System.Data.OracleClient" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=CONTA_MARGEM_NEW;Password=CONTA_MARGEM_NEW" />
      <add name="GradualCobrancaProdutos" providerName="System.Data.SqlClient"    connectionString="Data Source=125.227.220.95;Initial Catalog=GradualCobrancaProdutos;User Id=gradualcobranca;Password=gradualcobranca!1985;" />
  </connectionStrings>
  <appSettings>
    <add key="ChannelID" value="301" />
    <add key ="GrupoAlavancagemDesktop" value="6"/>
    <add key ="GrupoAlavancagemHomeBroker" value="2"/>
    <add key ="CodigoPortaRepassador" value="316"/>
    <add key ="CodigoPortaClienteHomeBroker" value="301"/>
    <add key ="CodigoPortaClienteAssessor" value="301"/>
  </appSettings>
</configuration>


