<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section
			name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default"
			type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			allowLocation="true"
			allowDefinition="Everywhere" />
	</configSections>
	<Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
		<Servicos>
			<ServicoInfo>
				<NomeInterface>Gradual.OMS.Library.Servicos.IServicoLocalizador</NomeInterface>
				<NomeInstancia>Gradual.OMS.Library.Servicos.ServicoLocalizador</NomeInstancia>
				<AtivacaoTipo>WCF</AtivacaoTipo>
				<EndPoints>
					<ServicoEndPointInfo>
						<Endereco>net.tcp://localhost:8080/gradual/servicoLocalizador</Endereco>
						<NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
					</ServicoEndPointInfo>
				</EndPoints>
				<RegistrarLocalizador>false</RegistrarLocalizador>
			</ServicoInfo>
		</Servicos>
	</Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
</configuration>