<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ArquivoClientes"   value="c:\clientes.txt"/>
    <add key="ArquivoAssessores" value="c:\assessores.txt"/>
    <add key="BancoOracle"       value="Data Source=SINACOR;Persist Security Info=True;User ID=cadastrosinacor;Password=cadastrosinacor"/>
    <add key="BancoSql"          value="Data Source=125.227.220.95;Initial Catalog=DirectTradeCadastro;User Id=directtrade;Password=directtrade!1985;" />
    <!--
			Explicação:
				- As chaves ArquivoClientes e ArquivoAssessores indicam o local onde os arquivos serão gerados
				- A chave Banco indica a conexão com o banco de dados
		-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
