<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section
			name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default"
			type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			allowLocation="true"
			allowDefinition="Everywhere" />
	</configSections>
	<Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
		<Servicos>

      <ServicoInfo>
        <NomeInterface>Gradual.OMS.Library.Servicos.IServicoLocalizador, Gradual.OMS.Library</NomeInterface>
        <NomeInstancia>Gradual.OMS.Library.Servicos.ServicoLocalizador, Gradual.OMS.Library</NomeInstancia>
        <AtivarWCF>true</AtivarWCF>
        <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
      </ServicoInfo>

<!--      <ServicoInfo>
				<NomeInterface>Gradual.OMS.Library.Servicos.IServicoLocalizador</NomeInterface>
				<NomeInstancia>Gradual.OMS.Library.Servicos.ServicoLocalizador</NomeInstancia>
				<AtivacaoTipo>WCF</AtivacaoTipo>
				<EndPoints>
					<ServicoEndPointInfo>
						<Endereco>net.tcp://localhost:8080/gradual/servicoLocalizador</Endereco>
						<NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
					</ServicoEndPointInfo>
				</EndPoints>
				<RegistrarLocalizador>false</RegistrarLocalizador>
			</ServicoInfo> -->
		</Servicos>
	</Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>

  <system.serviceModel>
    <services>
      <service name="Gradual.OMS.Library.Servicos.ServicoLocalizador" behaviorConfiguration="sb">
        <endpoint address="net.tcp://localhost:8080/gradual/servicoLocalizador"
						  binding="netTcpBinding"
						  bindingConfiguration="tcpBinding"
						  contract="Gradual.OMS.Library.Servicos.IServicoLocalizador" />
      </service>
      </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="sb">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" maxConcurrentSessions="100" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding"
						 openTimeout="00:02:00"
						 closeTimeout="00:02:00"
						 receiveTimeout="Infinite"
						 sendTimeout="00:02:00"
						 maxReceivedMessageSize="8000000"
						 maxBufferSize="8000000"
						 maxBufferPoolSize="8000000">
          <reliableSession enabled="false" inactivityTimeout="Infinite" />
          <readerQuotas maxArrayLength="30000" maxBytesPerRead="4000000" maxDepth="64" maxStringContentLength="4000000" />
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

    </configuration>
  