<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SMTPHost" value="ironport.gradualcorretora.com.br"/>
    <add key="pathEmailNotificacaoRetirada" value="E:\\OMS\\Servicos\\Email\\TextosEmail\\NotificacaoRetirada.txt" />
    <add key="pathEmailNotificacaoDeposito" value="E:\\OMS\\Servicos\\Email\\TextosEmail\\NotificacaoDeposito.txt"/>
  </appSettings>
  <configSections>
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Gradual.OMS.Library.Servicos.AtivadorConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <Gradual.OMS.Library.Servicos.AtivadorConfig>
    <Servicos/>
  </Gradual.OMS.Library.Servicos.AtivadorConfig>
  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://localhost:8080/gradual/servicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
