<?xml version="1.0" encoding="utf-8" ?>
<WindowsServiceHostConfig>
  <ServiceName>GradualTeste</ServiceName>
  <ServiceDisplayName>Gradual - Serviço Host de Teste</ServiceDisplayName>
  <ServiceDescription>Host de teste para serviços</ServiceDescription>
  <!--
  <ServiceDependedOn>
    <string>GradualLocalizador</string>
    <string>GradualHost1</string>
  </ServiceDependedOn>
  -->
</WindowsServiceHostConfig>