<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <services>
            <service name="Gradual.OMS.RoteadorOrdens.Mock.ServicoRoteadorOrdens">

                <endpoint
                    address="Servico"
                    binding="netTcpBinding"
                    contract="Gradual.OMS.RoteadorOrdensLib.IServicoRoteadorOrdens"
                    name="TcpBinding"/>

                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8001/ServicoRoteadorOrdens/"/>
                        <add baseAddress="http://localhost:8043/ServicoRoteadorOrdens/"/>
                    </baseAddresses>
                </host>

            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="true"/>

                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="true"/>

                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    
</configuration>