<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Gradual.OMS.Library.Servicos.AtivadorConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value=".\Logs\PoupeDirect.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />    <!-- Mudar para INFO ou menor em producao -->
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

  <connectionStrings>
    <add providerName="System.Data.SqlClient"    name="DirectRendaFixa" connectionString="Data Source=192.168.254.14;Initial Catalog=DirectTradeRendaFixa;User Id=directtrade;Password=directtrade!1985;" />
    <add providerName="System.Data.OracleClient" name="ConexaoSinacor"  connectionString="Data Source=HOMO;Persist Security Info=True;User ID=corrwin;Password=gradual200877" />
    <add providerName="System.Data.OracleClient" name="ConexaoTrade"    connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=PROD_TRADE"/>
    <add providerName="System.Data.SqlClient"    name="Risco"           connectionString="Data Source=192.168.254.14;Initial Catalog=DirectTradeRisco;User Id=directtrade;Password=directtrade!1985;" />
  </connectionStrings>

  
  
  <appSettings>
    <add key="EmailCalculadoraIR" value="codigo@gradual.com.br" />
    <add key="HorarioDeDisparoDoServico" value="4"/>
    <add key="HorarioVerificaVencimento" value="5"/>
    <add key="HorarioRentabilidade" value="0"/>
    <add key="HorarioCobranca" value="11"/>
    <add key="CD_EMPRESA" value="227" />
    <add key="CD_USUARIO_SINACOR" value="151" />
    <add key="pathArquivoCobranca"                 value="E:\\OMS\\Servicos\\PoupeDirect\\ArquivosCobranca"/>
    <add key="EmailDestinatarioNotificacaoArquivo" value="ipereira@gradualinvestimentos.com.br"/>
    <add key="EmailRemetenteNotificacaoArquivo"    value="atendimento@gradualinvestimentos.com.br"/>
    <add key="pathArquivoEmailAviso"               value="E:\\OMS\\Servicos\\PoupeDirect\\TextosEmails"/>
  </appSettings>

  <Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
    <BaseAddress>net.pipe://localhost/Global</BaseAddress>
    <BaseAddress>net.tcp://192.168.254.11:9242</BaseAddress>
    <MexBaseAddress>http://192.168.254.11:9342/MEX</MexBaseAddress>
    <Servicos>
      <ServicoInfo>
        <NomeInterface>Gradual.OMS.PoupeDirect.Lib.IServicoPoupeDirect, Gradual.OMS.PoupeDirect.Lib</NomeInterface>
        <NomeInstancia>Gradual.OMS.PoupeDirect.ServicoPoupeDirect, Gradual.OMS.PoupeDirect</NomeInstancia>
        <AtivarWCF>true</AtivarWCF>
        <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
        <RegistrarLocalizador>true</RegistrarLocalizador>
      </ServicoInfo>
    </Servicos>
  </Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>

  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://192.168.254.11:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>


  <!-- <system.diagnostics>
      <sources>
            <source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
            <listeners>
               <add name="traceListener"
                   type="System.Diagnostics.XmlWriterTraceListener"
                   initializeData= "e:\OMS\Servicos\AcompanhamentoOrdens\Traces.svclog" />
            </listeners>
         </source>
      </sources>
   </system.diagnostics> -->

  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR"/>
  </system.web>

</configuration>

