<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="TemporizadorIntervaloVerificacao" value="10000"/>
    <add key="pathArquivoEmailNotificacao" value="./TextosEmails/"/>
    <add key="EmailRemetenteNotificacao" value="bribeiro@gradualinvestimentos.com.br;rgarcia@gradualinvestimentos.com.br"/>
    <add key="EmailDestinatarioNotificacao" value="bribeiro@gradualinvestimentos.com.br"/>
    <!--Dados de cobrança-->
    <add key="pathArquivoCobranca" value="C:\"/>
    <add key="ValorMensalidade" value="30.00"/>
    <add key="HoraVerificacao" value="00:00;"/>
    <add key="HoraVerificacaoCustodia" value="10:24"/>
    <add key="pathArquivoEstornoCustodia" value="C:\" />
    <add key="HoraGravacaoArquivoEstorno" value="11:45"/>
    
    <add key="HoraVerificacaoArquivo"              value="10:22;10:23;10:24;10:25" />
    <add key="TemporizadorGeradorArquivo" value="30000"/>
    <add key="pathArquivoEmailAviso" value="D:\OMS\Servicos\ServicoAtivacaoPlanoCliente"/>
    <add key="EmailDestinatarioNotificacaoArquivo" value="bribeiro@gradualinvestimentos.com.br"/>
    <add key="EmailRemetenteNotificacaoArquivo" value="bribeiro@gradualinvestimentos.com.br"/>
    <add key="ValorCustodiaEstorno" value="1000"/>
  </appSettings>
  
  <connectionStrings>
    <!--<add name="ControleAcesso" connectionString="Data Source=192.168.254.14;Initial Catalog=DirectTradeControleAcesso;User Id=directtrade;Password=directtrade!1985;" providerName="System.Data.SqlClient"  />-->
    <add name="ControleAcesso" connectionString="Data Source=192.168.254.14;Initial Catalog=DirectTradeControleAcesso;User Id=sa;Password=gradual123*;" providerName="System.Data.SqlClient"  />
    <add name="TRADE" connectionString="Data Source=SINACORXXX;Persist Security Info=True;User ID=trade;Password=PROD_TRADE" providerName="System.Data.OracleClient" />
    <add name="Risco" connectionString="Data Source=192.168.254.14;Initial Catalog=DirectTradeRisco;User Id=sa;Password=gradual123*;" providerName="System.Data.SqlClient"/>
    <add name="SINACOR"        connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=PROD_TRADE" providerName="System.Data.OracleClient"/>
    <!--<add name="Risco"          connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeRisco;User Id=directtrade;Password=directtrade!1985;" providerName="System.Data.SqlClient"/>-->
    <!--<add providerName="System.Data.OracleClient" name="CORRWIN" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=corrwin;Password=gradual200877" />-->
    <add providerName="System.Data.OracleClient" name="CORRWIN" connectionString="Data Source=SINACOR_HOMO;Persist Security Info=True;User ID=corrwin;Password=draga69" />
  </connectionStrings>
  
</configuration>