<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section
    name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default"
    type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
    allowLocation="true"
    allowDefinition="Everywhere"/>

    <section
      name="Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig"
      type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      allowLocation="true"
      allowDefinition="Everywhere"/>

    <section
      name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig"
      type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      allowLocation="true"
      allowDefinition="Everywhere"/>

    <section
      name="Gradual.OMS.Library.LocalizadorTiposConfig"
      type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      allowLocation="true"
      allowDefinition="Everywhere"/>


    <section
      name="Gradual.OMS.Library.LogConfig"
      type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      allowLocation="true"
      allowDefinition="Everywhere"/>


  </configSections>


  <Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
    <Servicos>

      <!--10 
   Gradual.OMS.Library.Servicos.IServicoLocalizador-->
      <ServicoInfo>
        <NomeInterface>Gradual.Servicos.Contratos.TesteWCF.IServicoTesteWcf, Gradual.Servicos.Contratos.TesteWCF</NomeInterface>
        <NomeInstancia>Gradual.Servicos.Sistemas.TesteWCF.ServicoTesteWcf, Gradual.Servicos.Sistemas.TesteWCF</NomeInstancia>
        <AtivarWCF>false</AtivarWCF>
        <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
      </ServicoInfo>

      <!-- Gradual.OMS.Contratos.Comum.IServicoMensageria-->
      <ServicoInfo>
        <NomeInterface>Gradual.OMS.Contratos.Comum.IServicoMensageria, Gradual.OMS.Contratos.Comum</NomeInterface>
        <NomeInstancia>Gradual.OMS.Sistemas.Comum.ServicoMensageria, Gradual.OMS.Sistemas.Comum</NomeInstancia>
        <AtivarWCF>false</AtivarWCF>
        <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
      </ServicoInfo>

    </Servicos>
  </Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>


  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://192.168.254.11:7080/gradual/servicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>

  <!-- LOCALIZADOR DE TIPOS -->
  <Gradual.OMS.Library.LocalizadorTiposConfig>
    <Grupos>
      <LocalizadorGrupoTipoInfo TipoChamador="Gradual.OMS.Contratos.Comum.IServicoMensageria, Gradual.OMS.Contratos.Comum">
        <Tipos>
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.Comum.Dados, Gradual.OMS.Contratos.Comum" />
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.Comum.Mensagens, Gradual.OMS.Contratos.Comum" />
          <LocalizadorTipoInfo IncluirNamespace="Gradual.Servicos.Contratos.TesteWCF.Dados, Gradual.Servicos.Contratos.TesteWCF" />
          <LocalizadorTipoInfo IncluirNamespace="Gradual.Servicos.Contratos.TesteWCF.Mensagens, Gradual.Servicos.Contratos.TesteWCF" />
        </Tipos>
      </LocalizadorGrupoTipoInfo>
    </Grupos>
  </Gradual.OMS.Library.LocalizadorTiposConfig>

  <!-- SERVICO DE MENSAGERIA -->
  <!-- SERVICO DE MENSAGERIA -->
  <Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig>
    <IncluirTipos>
      <string>Gradual.OMS.Contratos.Comum.IServicoEcho, Gradual.OMS.Contratos.Comum</string>
      <string>Gradual.OMS.Contratos.Comum.IServicoSeguranca, Gradual.OMS.Contratos.Comum</string>
      <string>Gradual.OMS.Contratos.Comum.IServicoValidacao, Gradual.OMS.Contratos.Comum</string>
      <string>Gradual.Servicos.Contratos.TesteWCF.IServicoTesteWcf, Gradual.Servicos.Contratos.TesteWCF</string>
    </IncluirTipos>
    <ValidarMensagens>false</ValidarMensagens>
  </Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig>

  <Gradual.OMS.Library.LogConfig>
    <TipoComOrigensDeLog>Gradual.OMS.Contratos.Comum.ModulosOMS, Gradual.OMS.Contratos.Comum</TipoComOrigensDeLog>
  </Gradual.OMS.Library.LogConfig>


</configuration>

