<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="Gradual.OMS.Interface.ServicoInterfaceConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Producao" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Desenvolvimento" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Persistencia.ServicoPersistenciaConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Sistemas.Comum.ServicoSegurancaConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Gradual.OMS.Library.Servicos.AtivadorConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <!--10.0.11.156-->
      <!--<Endereco>net.tcp://10.0.11.157:18000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>-->
      <Endereco>net.tcp://10.0.11.156:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
      <!--<Endereco>net.tcp://192.168.254.11:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>-->
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
  <!-- SERVICOS A CARREGAR -->
  <Gradual.OMS.Library.Servicos.ServicoHostConfig-Producao>
    <ServicoInfo>
      <NomeInterface>Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia, Gradual.OMS.Monitor.Custodia.Lib</NomeInterface>
      <NomeInstancia>Gradual.OMS.Monitor.Custodia.Servico.MonitorCustodiaServico, Gradual.OMS.Monitor.Custodia.Servico</NomeInstancia>
      <AtivarWCF>false</AtivarWCF>
      <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
      <RegistrarLocalizador>false</RegistrarLocalizador>
      <EndPoints>
        <!--<ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.11:8083/Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>-->
        <ServicoEndPointInfo>
          <Endereco>net.tcp://10.0.11.157:18083/Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia</Endereco>
          <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
        </ServicoEndPointInfo>
      </EndPoints>
    </ServicoInfo>
  </Gradual.OMS.Library.Servicos.ServicoHostConfig-Producao>
  <Gradual.OMS.Library.Servicos.AtivadorConfig>
    <BaseAddress>net.tcp://localhost:8000</BaseAddress>
    <MexBaseAddress>http://localhost:8008/MEX</MexBaseAddress>
    <Servicos>
      <ServicoInfo>
        <NomeInterface>Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia, Gradual.OMS.Monitor.Custodia.Lib</NomeInterface>
        <NomeInstancia>Gradual.OMS.Monitor.Custodia.Servico.MonitorCustodiaServico, Gradual.OMS.Monitor.Custodia.Servico</NomeInstancia>
        <AtivarWCF>false</AtivarWCF>
        <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
        <EndPoints>
          <!--<ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.11:8083/Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>-->
          <ServicoEndPointInfo>
            <Endereco>net.tcp://10.0.11.157:18083/Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>
        </EndPoints>
      </ServicoInfo>
    </Servicos>
  </Gradual.OMS.Library.Servicos.AtivadorConfig>
  
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebAPI_Test-20150602175553;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebAPI_Test-20150602175553.mdf" />-->
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-WebAPI_Test-20150602175553.mdf;Initial Catalog=aspnet-WebAPI_Test-20150602175553;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="Cadastro"  providerName="System.Data.SqlClient" connectionString="Data Source=125.227.220.95; User Id=directtrade; Password=directtrade!1985; Initial Catalog=DirectTradeCadastro;" />
    <!--<add name="Cadastro" connectionString="Data Source=192.168.254.14; User Id=sa; Password=gradual123*; Initial Catalog=DirectTradeCadastro;" providerName="System.Data.SqlClient" />-->
    <add name="SINACOR"   providerName="System.Data.OracleClient" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=prod_trade" />
    <add name="Risco"     providerName="System.Data.SqlClient" connectionString="Data Source=125.227.220.95; User Id=directtrade; Password=directtrade!1985; Initial Catalog=DirectTradeRisco;" />
    <add name="AVTSpider" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.254.14; User Id=directtrade; Password=directtrade!1985; Initial Catalog=AVTSpider;" />
  <add providerName="System.Data.OracleClient" name="CONTAMARGEM"       connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=CONTA_MARGEM_NEW;Password=CONTA_MARGEM_NEW" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version"             value="2.0.0.0" />
    <add key="webpages:Enabled"             value="false" />
    <add key="PreserveLoginUrl"             value="true" />
    <add key="ClientValidationEnabled"      value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ArenaUri"                     value="https://10.97.1.178:3020"/>
    <add key="ArenaKey"                       value="91065d52fdf24687bded93b99f7499e3ac5cb1c5a1b84c5b89ebcb30632d1f60"/>
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="Gradual-WebAPI-IntegracaoArena.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <!-- Mudar para INFO ou menor em producao -->
      <appender-ref ref="LogFileAppender" />
    </root>
    
    <!--<logger name="Gradual.OMS.Library.Servicos.Ativador">
      <level value="ERROR" />
      <appender-ref ref="LogFileAppender" />
    </logger>-->

  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />-->
      </customHeaders>
    </httpProtocol>
    <modules>
      <add name="CorsHttpModule"
         type="Thinktecture.IdentityModel.Http.Cors.IIS.CorsHttpModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>