<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
        <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

    <log4net>
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="ServicoExportacaoGoldmanSachs.log"/>
            <appendToFile value="true"/>
            <rollingStyle value="Date"/>
            <datePattern value="yyyyMMdd"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level - %message%newline"/>
            </layout>
        </appender>

        <root>
            <level value="INFO"/>
            <!-- Mudar para INFO ou menor em producao -->
            <appender-ref ref="LogFileAppender"/>
        </root>
    </log4net>

    <appSettings>

        <add key="ConexaoEmUso" value="SINACOR"/>

        <add key="PastaDeSaida" value="C:\Dev\Gradual\Gradual.Etc\Gradual.Servico.ExportacaoGoldmanSachs-II\Gradual.Servico.ExportacaoGoldmanSachs.Teste\bin\Debug\Arquivos\"/>

        <add key="PastaDeControle" value="C:\Dev\Gradual\Gradual.Etc\Gradual.Servico.ExportacaoGoldmanSachs-II\Gradual.Servico.ExportacaoGoldmanSachs.Teste\bin\Debug\Controle\"/>

        <add key="SeedContadorDoDia" value="150" />

        <add key="IgnorarCriacaoDePasta" value="false" />

        <add key="UsarLogEstendido" value="nao" /> <!-- sim ou nao -->

        <add key="Ambiente" value="QA" />   <!-- só pode ser "QA" ou "PROD" -->

        <add key="FrequenciaDeVerificacaoEmMinutos" value="5"/>

        <add key="IdsClientes" value="53354:Latam, 140587:Latam"/> <!-- ID:Nome dividido por vírgula   -->

        <add key="IntervalosInativos" value="16:05:00-16:25:00,00:00:01-08:00:00"/>

        <add key="CodigoBMF" value="999999" /> <!--  Goldman: 140119  -->

    </appSettings>

    <connectionStrings>
        <add name="SINACOR" providerName="System.Data.OracleClient" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=corrwin;Password=gradual200877"/>
    </connectionStrings>

    <Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
        <BaseAddress>net.pipe://localhost/Global</BaseAddress>
        <BaseAddress>net.tcp://10.0.11.100:8042</BaseAddress>
        <MexBaseAddress>http://10.0.11.100:8142/MEX</MexBaseAddress>
        <Servicos>

            <ServicoInfo>
                <NomeInterface>Gradual.Servico.ExportacaoGoldmanSachs.IServicoExportacaoGoldmanSachs, Gradual.Servico.ExportacaoGoldmanSachs</NomeInterface>
                <NomeInstancia>Gradual.Servico.ExportacaoGoldmanSachs.ServicoExportacaoGoldmanSachs, Gradual.Servico.ExportacaoGoldmanSachs</NomeInstancia>
                <AtivarWCF>true</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>

        </Servicos>
    </Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>

    <!-- CLIENTE DO LOCALIZADOR -->
    <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
        <AtivacaoTipo>WCF</AtivacaoTipo>
        <EndPoint>
            <Endereco>net.tcp://10.0.11.152:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
        </EndPoint>
    </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
