<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
    <add key="ASConnIp" value="192.168.254.200" />
    <add key="ASConnPort" value="4445" />
    <add key="ASConnMDSIp" value="192.168.254.13" />
    <add key="ASConnMDSPort" value="4444" />
    <add key="OMS" value="Data Source=192.168.254.14;Initial Catalog=OMS;User Id=oms;Password=gradual123*;"/>
    <add key="NumeroItemsHash" value="10"/>
  </appSettings>
</configuration>