<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Gradual.OMS.Library.Servicos.AtivadorConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>


  <appSettings>
    <add key="CancelOnDisconnect" value="false"/>
    <!-- FIX 42 Session -->
    <add key="Passwd42" value="SUNDA"/>
    <add key="SenderCompID42" value="GRADBMF310"/>
    <add key="TargerCompID42" value="GRADFX01"/>
    <!-- FIX 44 Session -->
    <add key="Passwd44" value="YDCOPV"/>
    <add key="SenderCompID44" value="GRADFIXT001"/>
    <add key="TargerCompID44" value="GRADFX01"/>
    <add key="ResetSeqNum" value="true"/>
    <add key="log4net.Internal.Debug" value="false"/>

    <!-- FIX 44 Session EntryPoint -->
    
    <add key="Passwd44EP" value="XPTO"/>
    <add key="SenderCompID44EP" value="CLITESTE1"/>
    <add key="TargerCompID44EP" value="FKWFIX"/>
    <add key="ResetSeqNumEP" value="true"/>

    <!--/////////////////////// Dev ////////////////////////////////////////////-->
    <!--
    <add key="Sender" value="CLITESTE1"/>
    <add key="Target" value="GRADFXBLG"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value="XPTO"/>
    <add key="Host" value="192.168.254.200"/>
    <add key="Port" value="6666"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BB"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="false"/>
    -->
    
    <!--
    <add key="Sender" value="CLITESTE2"/>
    <add key="Target" value="GRADFX800"/>
    <add key="SenderSub" value="SENDERSUB2"/>
    <add key="TargetSub" value="TARGETSUB2"/>
    <add key="Pwd" value="XPTO"/>
    <add key="Host" value="192.168.254.200"/>
    <add key="Port" value="6666"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TESTEBMF1"/>
    <add key="Target" value="GRADFX309"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value="XPTO"/>
    <add key="Host" value="192.168.254.200"/>
    <add key="Port" value="6666"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=""/>
    <add key="UseDictionary" value="false"/>
  -->
    <!--
    <add key="Sender" value="TESTEBB03"/>
    <add key="Target" value="GRDFOR"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="192.168.254.200"/>
    <add key="Port" value="6666"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BB"/>
    <add key="Dictionary" value=""/>
    <add key="UseDictionary" value="false"/>
    -->
    <!--
    <add key="Sender" value="TESTEDCFS01"/>
    <add key="Target" value="DCACC800"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value="XPTO"/>
    <add key="Host" value="192.168.254.200"/>
    <add key="Port" value="5555"/>
    <add key="NumOrders" value="1"/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway_DC.xml"/>
    <add key="UseDictionary" value="true"/>
    -->

    <!--
    <add key="Sender" value="TBNP80002"/>
    <add key="Target" value="AGRABNP800"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="192.168.254.200"/>
    <add key="Port" value="6666"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BNP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX42.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TRTK80002"/>
    <add key="Target" value="AGRARTK800"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="192.168.254.200"/>
    <add key="Port" value="6666"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2RTK"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX42.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--/////////////////////// Hom ////////////////////////////////////////////-->
    <!--
    <add key="Sender" value="TIVFBMF02"/>
    <add key="Target" value="GRAD0018"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value="invflex0018"/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value="20"/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway_DC.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TESTEBMF01"/>
    <add key="Target" value="GRADFX310"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TESTEBB01"/>
    <add key="Target" value="GRAEEOR"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.152"/>
    
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BB"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="false"/>k
    -->
    <!--
    <add key="Sender" value="CLITESTE1"/>
    <add key="Target" value="GRADFX652"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value="XPTO"/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="BLPOR"/>
    <add key="Target" value="GRDOOR"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value="5"/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BB"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway_DC.xml"/>
    <add key="UseDictionary" value="false"/>
    -->
    <!--
    <add key="Sender" value="TESTEBB02"/>
    <add key="Target" value="GRDOOR"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BB"/>
    <add key="Dictionary" value=""/>
    <add key="UseDictionary" value="false"/>
    -->
    <!--
    <add key="Sender" value="TESTEBB03"/>
    <add key="Target" value="GRDFOR"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BB"/>
    <add key="Dictionary" value=""/>
    <add key="UseDictionary" value="false"/>
    -->
    <!--
    <add key="Sender" value="TPFC65202"/>
    <add key="Target" value="AGRAPFC652"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TPFC31002"/>
    <add key="Target" value="AGRAPFC310"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value=""/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    
    
    <add key="Sender" value="TBNP80002"/>
    <add key="Target" value="AGRABNP800"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="34000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BNP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX42.xml"/>
    <add key="UseDictionary" value="true"/>
    
    <!--
    <add key="Sender" value="TBNP80001"/>
    <add key="Target" value="AGRABNP800"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value="1478225350"/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="34000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BNP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX42.xml"/>
    <add key="UseDictionary" value="true"/>
    -->

    <!--
    <add key="Sender" value="TRTK65202"/>
    <add key="Target" value="AGRARTK652"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.152"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    
    <!--/////////////////////// Prd ////////////////////////////////////////////-->
    <!--
    <add key="Sender" value="TFSIVF30201"/>
    <add key="Target" value="AGRAIVF302"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    
    <!--
    <add key="Sender" value="TFSIVF001802"/>
    <add key="Target" value="AGRAIVF0018"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TESTEBB01"/>\
    <add key="Target" value="GRDEOR"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value=""/>
    <add key="Version" value="FIX.4.2BB"/>
    <add key="Dictionary" value=""/>
    <add key="UseDictionary" value="false"/>
    -->
    <!--
    <add key="Sender" value="TESTEBB02"/>
    <add key="Target" value="GRDOOR"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BB"/>
    <add key="Dictionary" value=""/>
    <add key="UseDictionary" value="false"/>
    -->
    <!--
    <add key="Sender" value="TESTEBB03"/>
    <add key="Target" value="GRDFOR"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BB"/>
    <add key="Dictionary" value=""/>
    <add key="UseDictionary" value="false"/>
    -->
    <!--
    <add key="Sender" value="TPRD99901"/>
    <add key="Target" value="AGRAPRD999"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value="XPTO"/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->

    <!--
    <add key="Sender" value="TPFC31002"/>
    <add key="Target" value="AGRAPFC310"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value=""/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TPFC65202"/>
    <add key="Target" value="AGRAPFC652"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TBNPE30201"/>
    <add key="Target" value="AGRABNP302"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BNP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX42.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TBNPO30201"/>
    <add key="Target" value="AGRABNP302"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BNP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX42.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TBNPF02101"/>
    <add key="Target" value="AGRABNP021"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.2BNP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX42.xml"/>
    <add key="UseDictionary" value="true"/>
    -->

    <!--
    <add key="Sender" value="TPFC30201"/>
    <add key="Target" value="AGRAPFC302"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    -->
    <!--
    <add key="Sender" value="TPFC02101"/>
    <add key="Target" value="AGRAPFC021"/>
    <add key="SenderSub" value=""/>
    <add key="TargetSub" value=""/>
    <add key="Pwd" value=""/>
    <add key="Host" value="10.0.11.157"/>
    <add key="Port" value="33000"/>
    <add key="NumOrders" value=""/>
    <add key="Intervalo" value="5"/>
    <add key="Version" value="FIX.4.4EP"/>
    <add key="Dictionary" value=".\\Dictionary\\FIX44EntrypointGateway.xml"/>
    <add key="UseDictionary" value="true"/>
    --> 
  </appSettings>

  <Gradual.OMS.Library.Servicos.AtivadorConfig>
    <BaseAddress>net.tcp://localhost:8000</BaseAddress>    
    <MexBaseAddress>http://localhost:8008/MEX</MexBaseAddress>
    
    <Servicos>
      
      <ServicoInfo>
        <NomeInterface>Gradual.Core.OMS.FixServerLowLatency.Lib.IFixServerLowLatencyAdm, Gradual.Core.OMS.FixServerLowLatency.Lib</NomeInterface>
        <!--<NomeInterface>Gradual.Core.OrdensMonitoracao.ADM.Lib.IServicoOrdensMonitoracaoADM, Gradual.Core.OrdensMonitoracao.ADM.Lib</NomeInterface>-->
        <NomeInstancia>Gradual.Core.OMS.FixServerLowLatency.FixServer, Gradual.Core.OMS.FixServerLowLatency</NomeInstancia>
        <AtivarWCF>true</AtivarWCF>
        <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>

        <EndPoints>
          <ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.200:21000/Gradual.Core.OMS.FixServerLowLatency.Lib.IFixServerLowLatencyAdm</Endereco>
            <!--<Endereco>net.tcp://10.0.11.157:41000/Gradual.Core.OMS.FixServerLowLatency.Lib.IFixServerLowLatencyAdm</Endereco>-->
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>
          <!--
          <ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.200:18000/Gradual.OMS.RoteadorOrdens.Lib.IAssinaturasRoteadorOrdensCallback</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>
          -->
        </EndPoints>
      </ServicoInfo>
      <ServicoInfo>
        <NomeInterface>Gradual.Core.OMS.LimiteManager.Lib.ILimiteManager, Gradual.Core.OMS.LimiteManager.Lib</NomeInterface>
        <!--<NomeInterface>Gradual.Core.OrdensMonitoracao.ADM.Lib.IServicoOrdensMonitoracaoADM, Gradual.Core.OrdensMonitoracao.ADM.Lib</NomeInterface>-->
        <NomeInstancia>Gradual.Core.OMS.LimiteManager.LimitAdm, Gradual.Core.OMS.LimiteManager</NomeInstancia>
        <AtivarWCF>true</AtivarWCF>
        <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>

        <EndPoints>
          <ServicoEndPointInfo>
            <Endereco>net.tcp://10.0.11.152:18100/Gradual.Core.OMS.LimiteManager.Lib.ILimiteManager</Endereco>
            <!--<Endereco>net.tcp://10.0.11.152:19100/Gradual.Core.OMS.LimiteManager.Lib.ILimiteManager</Endereco>-->
            <!--Endereco>net.tcp://192.168.254.200:21000/Gradual.Core.OMS.LimiteManager.Lib.ILimiteManager</Endereco-->
            <!--<Endereco>net.tcp://10.0.11.157:40000/Gradual.Core.OMS.LimiteManager.Lib.ILimiteManager</Endereco>-->
            <!--Endereco>net.tcp://10.0.11.157:41000/Gradual.Core.OMS.LimiteManager.Lib.ILimiteManager</Endereco>-->
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>
          <!--
          <ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.200:18000/Gradual.OMS.RoteadorOrdens.Lib.IAssinaturasRoteadorOrdensCallback</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>
          -->
        </EndPoints>
      </ServicoInfo>
    </Servicos>
  </Gradual.OMS.Library.Servicos.AtivadorConfig>


  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://10.0.11.152:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>


    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\BoletadorFIX.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
