<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

    <section name="Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

    <section name="Gradual.OMS.Library.LocalizadorTiposConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://192.168.254.11:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>

  <Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig>
    <IncluirTipos>
      <string>Gradual.OMS.PlanoCliente.Lib.IServicoPlanoCliente, Gradual.OMS.PlanoCliente</string>
    </IncluirTipos>
    <ValidarMensagens>true</ValidarMensagens>
  </Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig>
  
  <connectionStrings>
    <add name="ControleAcesso" connectionString="Data Source=192.168.254.14;Initial Catalog=DirectTradeControleAcesso;User Id=GradualOMS;Password=Gr@duAL.sp!1985;" providerName="System.Data.SqlClient"/>
    <add name="SINACOR" connectionString="Data Source=SINACORXXX;Persist Security Info=True;User ID=trade;Password=PROD_TRADE" providerName="System.Data.OracleClient"/>
  </connectionStrings>

  <appSettings>
    <add key="pathArquivo" value="C:\"/>
    <add key="pathArquivoEmailAviso" value="./TextosEmail/"/>
    <add key="temporizadorGeradorArquivo" value="60000"/>
    <add key="DiaVencimento" value="01"/>
    <add key="ValorMensalidade" value="30.00"/>
    <add key="EmailEmitenteAviso"     value="bribeiro@gradualinvestimentos.com.br"/>
    <add key="EmailDestinatarioAviso" value="bribeiro@gradualinvestimentos.com.br"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
