<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="arquivoFundos" value="saldos_"/>
    <add key="pathFundos"    value="\\gsp-srv-amnet\Drive\XML\"/>
    <add key="pathClubes"    value="\\clusterfs01\Rede\SISFINANCE_RISCO\posfundos.txt"/>
    <add key="intervalo"     value="60000"/>
  </appSettings>
  <connectionStrings>
    <add name="Trade" providerName="System.Data.OracleClient" connectionString="Data Source=homo;Persist Security Info=True;User ID=TRADE;Password=trade" />
    <add name="OMS"   providerName="System.Data.SqlClient"    connectionString="Data Source=192.168.254.14;Initial Catalog=OMS;User Id=oms;Password=gradual123*;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
