<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>

        <client>
            <endpoint
                address="net.tcp://localhost:8000/ServicoAcompanhamentoOrdens/Servico"
                binding="netTcpBinding"
                contract="IServicoAcompanhamentoOrdens"
                name="TcpBinding" />

            <!--endpoint
                address="net.tcp://192.168.254.11:8042/Gradual.OMS.AcompanhamentoOrdensLib.IServicoAcompanhamentoOrdens"
                binding="netTcpBinding"
                contract="IServicoAcompanhamentoOrdens"
                name="TcpBinding" /-->
        </client>

    </system.serviceModel>

</configuration>