<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppTesteDownloads.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <AppTesteDownloads.Properties.Settings>
            <setting name="AppTesteDownloads_br_com_itaucustodia_www_DownloadArquivoServiceService" serializeAs="String">
                <value>http://www.itaucustodia.com.br/PassivoWebServices/services/DownloadArquivoService</value>
            </setting>
            <setting name="AppTesteDownloads_br_com_itaucustodia_www1_PosicaoGerencialServiceService" serializeAs="String">
                <value>http://www.itaucustodia.com.br/PassivoWebServices/services/PosicaoGerencialService</value>
            </setting>
        </AppTesteDownloads.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
