<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
				name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig"
				type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
				allowLocation="true"
				allowDefinition="Everywhere"/>
    <section
				name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default"
				type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
				allowLocation="true"
				allowDefinition="Everywhere"/>
    <section
			  name="Gradual.OMS.Sistemas.Interface.ServicoInterfaceConfig"
			  type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			  allowLocation="true"
			  allowDefinition="Everywhere"/>
  </configSections>

  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>Local</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://localhost:8080/gradual/servicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>

  <!-- SERVICOS A CARREGAR -->
  <Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
    <Servicos>

      <!-- Gradual.OMS.Library.Servicos.IServicoLocalizador -->
      <ServicoInfo>
        <NomeInterface>Gradual.OMS.Library.Servicos.IServicoLocalizador, Gradual.OMS.Library</NomeInterface>
        <NomeInstancia>Gradual.OMS.Library.Servicos.ServicoLocalizador, Gradual.OMS.Library</NomeInstancia>
        <AtivarWCF>false</AtivarWCF>
        <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
      </ServicoInfo>

      <!-- Gradual.OMS.Contratos.Interface.IServicoInterface -->
      <ServicoInfo>
        <NomeInterface>Gradual.OMS.Contratos.Interface.IServicoInterface, Gradual.OMS.Contratos.Interface</NomeInterface>
        <NomeInstancia>Gradual.OMS.Sistemas.Interface.ServicoInterface, Gradual.OMS.Sistemas.Interface</NomeInstancia>
        <AtivarWCF>false</AtivarWCF>
        <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
        <RegistrarLocalizador>true</RegistrarLocalizador>
      </ServicoInfo>

    </Servicos>
  </Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>

  <!-- JanelaConfig - JanelaForm -->
  <Gradual.OMS.Sistemas.Interface.ServicoInterfaceConfig SkinAtual="Skin1">
    <ArquivoConfiguracoes>K:\Projetos\Gradual\OMS\Bin\config2.bin</ArquivoConfiguracoes>
    <SkinAtual>Skin1</SkinAtual>
    <Skins>
      <SkinInfo Nome="Skin1">
        <RelacaoItensControles>
          <RelacaoItemControleInfo ItemTipo="JanelaLauncher" TipoObjetoDestino="Gradual.OMS.Sistemas.Interface.SkinDevExpress.JanelaLauncher, Gradual.OMS.Sistemas.Interface.SkinDevExpress" />
          <RelacaoItemControleInfo ItemTipo="JanelaForm" TipoObjetoDestino="Gradual.OMS.Sistemas.Interface.SkinDevExpress.JanelaForm, Gradual.OMS.Sistemas.Interface.SkinDevExpress" />
        </RelacaoItensControles>
        <InicializacaoJanelas>
          <JanelaInicializacaoInfo TipoJanelaAlvo="Gradual.OMS.Sistemas.Interface.SkinDevExpress.JanelaLauncher">
            <Comandos>
              <ComandoInfo TipoInstanciaString="Gradual.OMS.Sistemas.Interface.Comandos.ComandoIniciarControle, Gradual.OMS.Sistemas.Interface"
                           Titulo="Lista de Ativos"
                           RegistrarEmToolbar="true"
						               RegistrarEmMenu="true">
                <Parametros TipoObjeto="Gradual.OMS.Sistemas.Interface.Comandos.ComandoIniciarControleParametro, Gradual.OMS.Sistemas.Interface">
                  <ComandoIniciarControleParametro>
                    <ControleInfo TipoInstanciaString="Gradual.OMS.Sistemas.Interface.Controles.Ronaldo.ListaAtivos, Gradual.OMS.Sistemas.Interface.Controles.Ronaldo"
                                  Titulo="Lista de Ativos" />
                  </ComandoIniciarControleParametro>
                </Parametros>
              </ComandoInfo>
              <ComandoInfo TipoInstanciaString="Gradual.OMS.Sistemas.Interface.Comandos.ComandoIniciarControle, Gradual.OMS.Sistemas.Interface"
                           Titulo="Painél de Cotações"
                           RegistrarEmToolbar="true"
						               RegistrarEmMenu="true">
                <Parametros TipoObjeto="Gradual.OMS.Sistemas.Interface.Comandos.ComandoIniciarControleParametro, Gradual.OMS.Sistemas.Interface">
                  <ComandoIniciarControleParametro>
                    <ControleInfo TipoInstanciaString="Gradual.OMS.Sistemas.Interface.Controles.Ronaldo.PainelCotacao, Gradual.OMS.Sistemas.Interface.Controles.Ronaldo"
                                  Titulo="Painél de Cotações" />
                  </ComandoIniciarControleParametro>
                </Parametros>
              </ComandoInfo>
            </Comandos>
          </JanelaInicializacaoInfo>
        </InicializacaoJanelas>
      </SkinInfo>
    </Skins>
  </Gradual.OMS.Sistemas.Interface.ServicoInterfaceConfig>

</configuration>