set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[prc_TB_FUNCIONALIDADE_ins]
	@CD_FUNCIONALIDADE varchar(150),
	@ID_SISTEMA int,
	@DS_FUNCIONALIDADE varchar(150),
	@CD_FUNCIONALIDADE_GRUPO varchar(150),
	@ID_FUNCIONALIDADE int OUTPUT
AS
/*
DESCRIÇÃO:
	Insere registro na tabela TB_FUNCIONALIDADE.
CRIAÇÃO:
	Desenvolvedor: Alex Kubo
	Data: 04/05/2010
*/
SET NOCOUNT ON

IF EXISTS(SELECT 1 FROM TB_FUNCIONALIDADE WHERE CD_FUNCIONALIDADE= @CD_FUNCIONALIDADE)
BEGIN
	UPDATE [dbo].[TB_FUNCIONALIDADE]
	SET
		ID_SISTEMA = @ID_SISTEMA,
		DS_FUNCIONALIDADE = @DS_FUNCIONALIDADE,
		CD_FUNCIONALIDADE_GRUPO = @CD_FUNCIONALIDADE_GRUPO
	WHERE 
		CD_FUNCIONALIDADE= @CD_FUNCIONALIDADE

	SELECT @ID_FUNCIONALIDADE = ID_FUNCIONALIDADE FROM TB_FUNCIONALIDADE WHERE CD_FUNCIONALIDADE= @CD_FUNCIONALIDADE
END
ELSE
BEGIN 
	INSERT [dbo].[TB_FUNCIONALIDADE]
	(
		[CD_FUNCIONALIDADE],
		[ID_SISTEMA],
		[DS_FUNCIONALIDADE],
		[CD_FUNCIONALIDADE_GRUPO]
	)
	VALUES
	(
		@CD_FUNCIONALIDADE,
		@ID_SISTEMA,
		@DS_FUNCIONALIDADE,
		@CD_FUNCIONALIDADE_GRUPO
	)
	-- Get the IDENTITY value for the row just inserted.
	SELECT @ID_FUNCIONALIDADE=SCOPE_IDENTITY()
END
