set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[prc_TB_FUNCIONALIDADE_sel]
	@ID_FUNCIONALIDADE INT = NULL,
	@RECEBER_PERMISSOES BIT = 0,
	@RECEBER_PERFIL BIT=0
AS
/*
DESCRIÇÃO:
	Seleciona os dados da tabela TB_FUNCIONALIDADE de acordo com o filtro especificado.
CRIAÇÃO:
	Desenvolvedor: Alex Kubo
	Data: 04/05/2010
*/
SET NOCOUNT ON
SELECT
	[ID_FUNCIONALIDADE],
	[CD_FUNCIONALIDADE],
	[ID_SISTEMA],
	[DS_FUNCIONALIDADE],
	[CD_FUNCIONALIDADE_GRUPO]
FROM [dbo].[TB_FUNCIONALIDADE]
WHERE 
	ID_FUNCIONALIDADE = ISNULL(@ID_FUNCIONALIDADE,ID_FUNCIONALIDADE)

IF(@RECEBER_PERMISSOES =1) 
BEGIN
	SELECT 
		CD_PERMISSAO
	FROM
		TB_FUNCIONALIDADe_PERMISSAO A 
		INNER JOIN TB_PERMISSAO B ON A.ID_PERMISSAO = B.ID_PERMISSAO
	WHERE 
		ID_FUNCIONALIDADE = @ID_FUNCIONALIDADE
END


IF(@RECEBER_PERFIL =1) 
BEGIN
	SELECT 
		CD_PERFIL
	FROM
		TB_FUNCIONALIDADE_PERFIL A 
		INNER JOIN TB_PERFIL B ON A.ID_PERFIL = B.ID_PERFIL
	WHERE 
		ID_FUNCIONALIDADE = @ID_FUNCIONALIDADE
END