<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Gradual.OMS.Library.LocalizadorTiposConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Producao" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Sistemas.Automacao.Ordens.Persistencia.ServicoAutomacaoOrdensConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Desenvolvimento" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Padrao" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.Servicos.AtivadorConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Gradual.OMS.Library.ServicoHostConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Gradual.Spider.GlobalOrderTracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="Interface" type="log4net.Appender.RollingFileAppender">
      <file value="c:\Gradual Investimentos\GlobalOrderTracking\Interface.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff} [%-45thread] %-5level [%property{User}: %property{Environment}] %message%newline%exception" />
      </layout>
    </appender>
    <logger name="Interface">
      <level value="INFO" />
      <appender-ref ref="Interface" />
    </logger>
  </log4net>
  <appSettings>
    <add key="IpAddr" value="10.0.11.157" />
    <add key="Port" value="4554" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Confirmation" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://10.0.11.152:18000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Gradual.Spider.GlobalOrderTracking.Properties.Settings>
      <setting name="Gradual_Spider_GlobalOrderTracking_br_com_gradualinvestimentos_wsplataforma_Autenticacao"
        serializeAs="String">
        <value>http://wsplataforma.gradualinvestimentos.com.br:8080/Gradual.WsIntegracao/Autenticacao.asmx</value>
      </setting>
    </Gradual.Spider.GlobalOrderTracking.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AutenticacaoSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wsplataforma.gradualinvestimentos.com.br:8080/Gradual.WsIntegracao/Autenticacao.asmx"
        binding="basicHttpBinding" bindingConfiguration="AutenticacaoSoap"
        contract="Autenticacao.AutenticacaoSoap" name="AutenticacaoSoap" />
    </client>
  </system.serviceModel>
</configuration>