<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Gradual.OMS.Library.Servicos.AtivadorConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>


  <Gradual.OMS.Library.Servicos.AtivadorConfig>
    <BaseAddress>net.tcp://localhost:8000</BaseAddress>
    <MexBaseAddress>http://localhost:8008/MEX</MexBaseAddress>
    <Servicos>
      <ServicoInfo>
        <NomeInterface>Gradual.Core.Spider.Monitor.Lib.IMonitorFix, Gradual.Core.Spider.Monitor.Lib</NomeInterface>
        <NomeInstancia>Gradual.Core.Spider.Monitor.Monitoring.FixMonitor, Gradual.Core.Spider.Monitor</NomeInstancia>
        <AtivarWCF>true</AtivarWCF>
        <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
        <EndPoints>
          <ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.200:23000/Gradual.Core.Spider.Monitor.Lib.IMonitorFix</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>
        </EndPoints>
      </ServicoInfo>
    </Servicos>
  </Gradual.OMS.Library.Servicos.AtivadorConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
