<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ArquivoClientes"   value="c:\clientes.txt"/>
    <add key="ArquivoAssessores" value="c:\assessores.txt"/>
    <add key="Banco"             value="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=prod_trade"/>
    <add key="Schedule"          value="16"/>
    <!--
			Explicação:
				- As chaves ArquivoClientes e ArquivoAssessores indicam o local onde os arquivos serão gerados
				- A chave Banco indica a conexão com o banco de dados
				- A chave schedule indica a hora que o serviço vai gerar os arquivos, podendo levar até 30 minutos depois da hora informada.
			Importante:
				- Para a alteração ter efeito é necessário reiniciar o serviço do windows.
		-->
  </appSettings>
</configuration>