set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[prc_TB_GRUPO_sel]
	@ID_GRUPO	INT = null,
	@CD_GRUPO VARCHAR(200) = null,
	@RECEBER_PERMISSOES BIT =0,
	@RECEBER_PERFIL BIT = 0
AS
/*
DESCRIÇÃO:
	Seleciona os dados da tabela TB_GRUPO de acordo com o filtro especificado.
CRIAÇÃO:
	Desenvolvedor: Alex Kubo
	Data: 04/05/2010
*/
SET NOCOUNT ON
IF(@ID_GRUPO IS NULL)
	SELECT @ID_GRUPO = ID_GRUPO FROM TB_GRUPO WHERE CD_GRUPO = @CD_GRUPO

SELECT
	[ID_GRUPO],
	[CD_GRUPO],
	[DS_GRUPO]
FROM [dbo].[TB_GRUPO]
	WHERE ID_GRUPO = @ID_GRUPO

IF(@RECEBER_PERMISSOES=1)
BEGIN
	SELECT 
		A.ID_PERMISSAO,
		B.CD_PERMISSAO,
		B.NM_PERMISSAO,
		B.DS_PERMISSAO,
		C.MN_LISTAITEM MN_PERMISSAO_STATUS
	FROM 
		TB_GRUPO_PERMISSAO A
		INNER JOIN TB_PERMISSAO B ON A.ID_PERMISSAO = B.ID_PERMISSAO
		INNER JOIN TB_LISTA_ITEM C ON A.LI_PERMISSAO_STATUS = C.LI
	WHERE 
		A.ID_GRUPO = @ID_GRUPO
END

IF(@RECEBER_PERFIL=1)
BEGIN
	SELECT 
		B.CD_PERFIL
	FROM 
		TB_GRUPO_PERFIL A
		INNER JOIN TB_PERFIL B ON A.ID_PERFIL = B.ID_PERFIL
	WHERE 
		A.ID_GRUPO = @ID_GRUPO
END