set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[prc_TB_PERFIL_sel]
	@CD_PERFIL VARCHAR(200) = null,
	@ID_PERFIL INT	= NULL,
	@RECEBER_PERMISSOES BIT = 0
AS
/*
DESCRIÇÃO:
	Seleciona os dados da tabela TB_PERFIL de acordo com o filtro especificado.
CRIAÇÃO:
	Desenvolvedor: Alex Kubo
	Data: 04/05/2010
*/
SET NOCOUNT ON

IF(@ID_PERFIL IS NULL)
	SELECT @ID_PERFIL = ID_PERFIL FROM TB_PERFIL WHERE CD_PERFIL = @CD_PERFIL

SELECT
	[ID_PERFIL],
	[CD_PERFIL],
	[NM_PERFIL]
FROM [dbo].[TB_PERFIL]
	WHERE ID_PERFIL = @ID_PERFIL


IF(@RECEBER_PERMISSOES =1)
BEGIN
	SELECT 
		A.ID_PERFIL,
		A.ID_PERMISSAO,
		A.LI_PERMISSAO_STATUS,
		b.MN_LISTAITEM MN_PERMISSAO_STATUS,
		C.CD_PERMISSAO
	FROM 
		TB_PERFIL_PERMISSAO A 
		INNER JOIN TB_LISTA_ITEM B ON A.LI_PERMISSAO_STATUS = B.LI
		INNER JOIN TB_PERMISSAO C ON A.ID_PERMISSAO = C.ID_PERMISSAO
	WHERE 
		ID_PERFIL =@ID_PERFIL
	
END