set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[prc_TB_PERFIL_ins]
	@CD_PERFIL varchar(200),
	@NM_PERFIL varchar(150),
	@ID_PERFIL int OUTPUT
AS
/*
DESCRIÇÃO:
	Insere registro na tabela TB_PERFIL.
CRIAÇÃO:
	Desenvolvedor: Alex Kubo
	Data: 04/05/2010
*/
SET NOCOUNT ON
IF EXISTS(SELECT 1 FROM TB_PERFIL WHERE CD_PERFIL = @CD_PERFIL)
BEGIN 
	UPDATE [dbo].[TB_PERFIL]
	SET 
		NM_PERFIL = @NM_PERFIL
	WHERE
		CD_PERFIL = @CD_PERFIL 

	SELECT @ID_PERFIL = ID_PERFIL FROM TB_PERFIL WHERE CD_PERFIL = @CD_PERFIL
END
ELSE
BEGIN
	INSERT [dbo].[TB_PERFIL]
	(
		[CD_PERFIL],
		[NM_PERFIL]
	)
	VALUES
	(
		@CD_PERFIL,
		@NM_PERFIL
	)
	-- Get the IDENTITY value for the row just inserted.
	SELECT @ID_PERFIL=SCOPE_IDENTITY()
END