set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[prc_TB_USUARIO_PERMISSAO_ins]
	@ID_USUARIO int = null,
	@CD_USUARIO varchar(150) = null,
	@ID_PERMISSAO int = null,
	@CD_PERMISSAO varchar(150) = null,
	@LI_USUARIO_PERMISSAO smallint = null,
	@MN_USUARIO_PERMISSAO varchar(150) = null
AS
/*
DESCRIÇÃO:
	Insere registro na tabela TB_USUARIO_PERMISSAO.
CRIAÇÃO:
	Desenvolvedor: Alex Kubo
	Data: 04/05/2010
*/

IF @ID_USUARIO IS NULL
	SELECT @ID_USUARIO = ID_USUARIO FROM TB_USUARIO WHERE CD_USUARIO = @CD_USUARIO

IF @ID_PERMISSAO IS NULL
	SELECT @ID_PERMISSAO = ID_PERMISSAO FROM TB_PERMISSAO WHERE CD_PERMISSAO = @CD_PERMISSAO

IF @LI_USUARIO_PERMISSAO IS NULL
	SELECT @LI_USUARIO_PERMISSAO = dbo.fnListaItem('PermissaoAssociadaStatusEnum', @MN_USUARIO_PERMISSAO)

SET NOCOUNT ON
INSERT [dbo].[TB_USUARIO_PERMISSAO]
(
	[ID_USUARIO],
	[ID_PERMISSAO],
	[LI_USUARIO_PERMISSAO]
)
VALUES
(
	@ID_USUARIO,
	@ID_PERMISSAO,
	@LI_USUARIO_PERMISSAO
)



