set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[prc_TB_GRUPO_PERMISSAO_ins]
	@ID_GRUPO smallint,
	@ID_PERMISSAO int = null,
	@CD_PERMISSAO VARCHAR(200) = null,
	@LI_PERMISSAO_STATUS smallint = null,
	@MN_PERMISSAO_STATUS varchar(150) = null
AS
/*
DESCRIÇÃO:
	Insere registro na tabela TB_GRUPO_PERMISSAO.
CRIAÇÃO:
	Desenvolvedor: Alex Kubo
	Data: 04/05/2010
*/
SET NOCOUNT ON

IF (@ID_PERMISSAO IS NULL)
	SELECT @ID_PERMISSAO = ID_PERMISSAO FROM TB_PERMISSAO WHERE CD_PERMISSAO = @CD_PERMISSAO

IF @LI_PERMISSAO_STATUS IS NULL
	SELECT @LI_PERMISSAO_STATUS = dbo.fnListaItem('PermissaoAssociadaStatusEnum', @MN_PERMISSAO_STATUS)


INSERT [dbo].[TB_GRUPO_PERMISSAO]
(
	[ID_GRUPO],
	[ID_PERMISSAO],
	[LI_PERMISSAO_STATUS]
)
VALUES
(
	@ID_GRUPO,
	@ID_PERMISSAO,
	@LI_PERMISSAO_STATUS
)

