<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Orbite.RV.Sistemas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Orbite.RV.Sistemas.Properties.Settings>
            <setting name="Orbite_RV_Sistemas_WsBCB_FachadaWSSGSService"
                serializeAs="String">
                <value>https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS</value>
            </setting>
        </Orbite.RV.Sistemas.Properties.Settings>
    </applicationSettings>
</configuration>