<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="ArdeXMLSaida" value="C:\TEMP\ArdeMuito.xml" />
    <add key="EmailDestArde" value="apiza@gradualinvestimentos.com.br"/>
    <add key="EmailRemetente" value="suporte_sistemas@gradualinvestimentos.com.br"/>
    <add key="EmailReplyTo" value="suporte_sistemas@gradualinvestimentos.com.br"/>
    <add key="EmailHost" value="ironport.gradual.intra"/>
    <add key="SmtpPort" value="25"/>
    <add key="EmTeste" value="true"/>
  </appSettings>

  <connectionStrings>
    <add name="SINACOR" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=TRADE;Password=PROD_TRADE" providerName="System.Data.OracleClient"/>
  </connectionStrings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\NovoArde.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M() - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
