<?xml version="1.0"?>
<configuration>
  <configSections>
    <section 
      name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default" 
      type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
      allowLocation="true" allowDefinition="Everywhere"/>

    <section 
      name="Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig" 
      type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
      allowLocation="true" allowDefinition="Everywhere"/>

    <section 
      name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" 
      type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
      allowLocation="true" allowDefinition="Everywhere"/>

    <section 
      name="Gradual.OMS.Library.LocalizadorTiposConfig" 
      type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
      allowLocation="true" allowDefinition="Everywhere"/>

    <section 
      name="Gradual.OMS.Sistemas.Comum.ServicoPersistenciaConfig" 
      type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
      allowLocation="true" allowDefinition="Everywhere"/>

  </configSections>

  <!-- SERVICO DE MENSAGERIA 
  <Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig>
    <IncluirTipos>
      <string>Gradual.Servicos.Contratos.TesteWCF.IServicoTesteWcf</string>
    </IncluirTipos>
    <ValidarMensagens>true</ValidarMensagens>
  </Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig>-->

  <Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
    <Servicos>
      <ServicoInfo>
        <NomeInterface>Gradual.OMS.Risco.RegraLib.IServicoRegrasRisco, Gradual.OMS.Risco.RegraLib</NomeInterface>
        <NomeInstancia>Gradual.OMS.Risco.Regra.ServicoRegrasRisco, Gradual.OMS.Risco.Regra</NomeInstancia>
        <AtivarWCF>false</AtivarWCF>
        <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
      </ServicoInfo>
    </Servicos>
  </Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>


  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://192.168.254.11:7080/gradual/servicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>

  <!-- LOCALIZADOR DE TIPOS 
  <Gradual.OMS.Library.LocalizadorTiposConfig>
    <Grupos>
      <LocalizadorGrupoTipoInfo TipoChamador="Gradual.OMS.Contratos.Comum.IServicoMensageria, Gradual.OMS.Contratos.Comum">
        <Tipos>
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.Comum.Dados, Gradual.OMS.Contratos.Comum"/>
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.Comum.Mensagens, Gradual.OMS.Contratos.Comum"/>
        </Tipos>
      </LocalizadorGrupoTipoInfo>
    </Grupos>
  </Gradual.OMS.Library.LocalizadorTiposConfig>-->

  <!-- SERVICOS COMUNS - PERSISTENCIA DE OBJETOS -->
  <Gradual.OMS.Sistemas.Comum.ServicoPersistenciaConfig>
    <Persistencias>
      <PersistenciaInfo>
        <TipoPersistencia>Gradual.OMS.Sistemas.Comum.PersistenciaArquivo, Gradual.OMS.Sistemas.Comum</TipoPersistencia>
        <Default>true</Default>
        <Config TipoObjeto="Gradual.OMS.Sistemas.Comum.PersistenciaArquivoConfig, Gradual.OMS.Sistemas.Comum">
          <PersistenciaArquivoConfig>
            <ArquivoPersistencia>C:\OMS\Ordens\DataTeste\PersistenciaObjetos.bin</ArquivoPersistencia>
            <SalvarAutomaticamente>false</SalvarAutomaticamente>
            <TempoSalvamentoAutomatico>30</TempoSalvamentoAutomatico>
          </PersistenciaArquivoConfig>
        </Config>
      </PersistenciaInfo>
      <!--<PersistenciaInfo>
        <TipoPersistencia>Gradual.OMS.Persistencias.Seguranca.PersistenciaSegurancaDb, Gradual.OMS.Persistencias.Seguranca</TipoPersistencia>
        <ListaTipoObjeto>
          <string>Gradual.OMS.Contratos.Comum.Dados.UsuarioInfo, Gradual.OMS.Contratos.Comum</string>
          <string>Gradual.OMS.Contratos.Comum.Dados.PerfilInfo, Gradual.OMS.Contratos.Comum</string>
          <string>Gradual.OMS.Contratos.Comum.Dados.UsuarioGrupoInfo, Gradual.OMS.Contratos.Comum</string>
        </ListaTipoObjeto>
      </PersistenciaInfo>-->
      <PersistenciaInfo>
        <TipoPersistencia>Gradual.OMS.Risco.Regra.Persistencia.PersistenciaRegraDB, Gradual.OMS.Risco.Regra</TipoPersistencia>
        <ListaTipoObjeto>
          <string>Gradual.OMS.Risco.RegraLib.Dados.GrupoItemInfo, Gradual.OMS.Risco.RegraLib</string>
          <string>Gradual.OMS.Risco.RegraLib.Dados.GrupoInfo, Gradual.OMS.Risco.RegraLib</string>
          <string>Gradual.OMS.Risco.RegraLib.Dados.PermissaoRiscoInfo, Gradual.OMS.Risco.RegraLib</string>
          <string>Gradual.OMS.Risco.RegraLib.Dados.ParametroRiscoInfo, Gradual.OMS.Risco.RegraLib</string>
          <string>Gradual.OMS.Risco.RegraLib.Dados.ParametroRiscoClienteInfo, Gradual.OMS.Risco.RegraLib</string>
          <string>Gradual.OMS.Risco.RegraLib.Dados.PermissaoRiscoAssociadaInfo, Gradual.OMS.Risco.RegraLib</string>
          <string>Gradual.OMS.Risco.RegraLib.Dados.ParametroRiscoClienteValorInfo, Gradual.OMS.Risco.RegraLib</string>
        </ListaTipoObjeto>
      </PersistenciaInfo>
    </Persistencias>
  </Gradual.OMS.Sistemas.Comum.ServicoPersistenciaConfig>


  <connectionStrings>
    <add connectionString="Data Source=192.168.254.14;Initial Catalog=Risco;User Id=sa;Password=gradual123*;" providerName="System.Data.SqlClient" name="RISCO"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
