body {
}

.nav > li > a 
{
    position: relative;
    display: block;
    padding: 6px 5px;
    font-family: Calibri;
}

.tab-content {
    border: 1px solid #000;
    padding:12px;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #000;
    border-bottom-color: transparent;
}