<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MdsBayeuxClient.Configuracao" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MdsBayeuxClient.Configuracao>
            <setting name="UrlCometd" serializeAs="String">
                <value>/cometd/</value>
            </setting>
            <setting name="UrlCometdHandshake" serializeAs="String">
                <value>/cometd/handshake</value>
            </setting>
            <setting name="UrlMdsOfertas" serializeAs="String">
                <value>/mds/ofertas</value>
            </setting>
            <setting name="UrlMdsNegocios" serializeAs="String">
                <value>/mds/negocios</value>
            </setting>
            <setting name="UrlMdsDestaques" serializeAs="String">
                <value>/mds/destaques</value>
            </setting>
            <setting name="UrlMdsRanking" serializeAs="String">
                <value>/mds/ranking</value>
            </setting>
            <setting name="UrlRequisicaoOfertas" serializeAs="String">
                <value>/service/requisicao/ofertas</value>
            </setting>
            <setting name="UrlCancelamentoOfertas" serializeAs="String">
                <value>/service/cancelamento/ofertas</value>
            </setting>
            <setting name="UrlRequisicaoNegocios" serializeAs="String">
                <value>/service/requisicao/negocios</value>
            </setting>
            <setting name="UrlCancelamentoNegocios" serializeAs="String">
                <value>/service/cancelamento/negocios</value>
            </setting>
            <setting name="UrlRequisicaoDestaques" serializeAs="String">
                <value>/service/requisicao/destaques</value>
            </setting>
            <setting name="UrlCancelamentoDestaques" serializeAs="String">
                <value>/service/cancelamento/destaques</value>
            </setting>
            <setting name="UrlRequisicaoRanking" serializeAs="String">
                <value>/service/requisicao/ranking</value>
            </setting>
            <setting name="UrlCancelamentoRanking" serializeAs="String">
                <value>/service/cancelamento/ranking</value>
            </setting>
            <setting name="UrlCometdConnect" serializeAs="String">
                <value>/cometd/connect</value>
            </setting>
            <setting name="UriLocalhost" serializeAs="String">
                <value>192.168.254.109:8080</value>
            </setting>
            <setting name="UrlMdsLivroNegocios" serializeAs="String">
                <value>/mds/livroNegocios</value>
            </setting>
            <setting name="UrlRequisicaoLivroNegocios" serializeAs="String">
                <value>/service/requisicao/livroNegocios</value>
            </setting>
            <setting name="urlCancelamentoLivroNegocios" serializeAs="String">
                <value>/service/cancelamento/livroNegocios</value>
            </setting>
            <setting name="UrlCancelamentoAcompanhamentoOrdens" serializeAs="String">
                <value>/service/cancelamento/acompanhamentoordens</value>
            </setting>
            <setting name="UrlRequisicaoAcompanhamentoOrdens" serializeAs="String">
                <value>/service/requisicao/acompanhamentoordens</value>
            </setting>
            <setting name="UrlMdsAcompanhamentoOrdens" serializeAs="String">
                <value>/mds/acompanhamentoordens</value>
            </setting>
        </MdsBayeuxClient.Configuracao>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
