<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathVirtualIntranet"       value="c:\" />
    <!--<add key="pathVirtualIntranet"       value="\\192.168.254.11\c$\Inetpub\wwwroot\Interno\Gradual.Intranet\Extras\FichaDuc"/>-->
    <add key="pathVirtualPortal"         value="\\192.168.254.11\c$\Inetpub\wwwroot\Externo\Gradual.Portal\Cadastro\ReportPDF"/>
    <add key="pathVirtualPDF"            value="C:\Dev\Gradual\Gradual.Etc\Gradual.Servico.FichaCadastral\Gradual.Servico.FichaCadastral.Teste\bin"/>
    <add key="pathVirtualImages"         value="\\192.168.254.11\OMS_Host_3\Servicos\FichaCadastral\RecursosVisuais\Imagens\"/>
    <add key="pathVirtualImagesCadastro" value="\\192.168.254.11\OMS_Host_3\Servicos\FichaCadastral\RecursosVisuais\Imagens\"/>
  </appSettings>
  <connectionStrings>
<!--<add providerName="System.Data.SqlClient"    name="CadastroSQL"   connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeCadastro;User Id=directtrade;Password=directtrade!1985;" />-->
    <add providerName="System.Data.SqlClient"    name="CadastroSQL"   connectionString="Data Source=192.168.254.14;Initial Catalog=DirectTradeCadastro;User Id=sa;Password=gradual123*;" />
      <add providerName="System.Data.OracleClient" name="SinacorOracle" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=corrwin;Password=gradual200877" />
      <!--add providerName="System.Data.OracleClient" name="SinacorOracle" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=prod_trade" /-->
      
  </connectionStrings>
</configuration>