<?xml version="1.0"?>
<appSettings>

    <add key="AplicacaoEmModoDeTeste"                       value="true" />

    <add key="AnalyticsHabilitado"                          value="true" />

    <add key="SkinPadrao"                                   value="Default"/>

    <!-- Sem Barras "/"  -->
    <add key="HostDoSite"                                   value="http://localhost" />

    <!-- Sem Barras "/"  -->
    <add key="RaizDoSite"                                   value="Gradual.Site-II.Www" />

    <add key="VersaoDoSite"                                 value="12-07-20-1100" />

    <add key="log4net.Internal.Debug"                       value="false" />

    <add key="IdDaLista_OfertasPublicasParaHome"            value="7" />

    <add key="IdDaLista_DestaquesParaHome"                  value="26" />

    <add key="IdDaLista_BannersParaHome"                    value="25" />

    <add key="IdDaLista_VideoDaHome"                        value="62" />
    
    <add key="IdDaLista_BannersProRodape"                   value="27" />

    <add key="IdDaLista_ChatPublicado"                      value="33" />

    <add key="IdDaLista_CarteiraRecomendada"                value="34" />

    <add key="IdDaLista_ISIN"                               value="35" />

    <add key="IdDoTipo_BannerLateral"                       value="15" />
    
    <add key="IdDoTipo_BannerLateralLink"                   value="16" />

    <add key="IdDoTipo_MenuPrincipal"                       value="18" />

    <add key="IdDoTipo_ConteudoGenerico"                    value="19" />

    <add key="CodigoAtualIbovFuturo"                        value="DOLJ12" />

    <add key="CodigoAtualDolarFuturo"                       value="INDJ12" />

    <add key="CodigoAtualDIFuturo"                          value="DI1F13" />

    <add key="Ordens_PortaDeControle"                       value="371" />
    <!--<add key="Ordens_PortaDeControle" value="800"/>-->

    <add key="Email_Atendimento"                            value="lleal@gradualinvestimentos.com.br"/>

    <add key="Email_Compliance"                             value="compliance@gradualinvestimentos.com.br" />

    <add key="Email_Ouvidoria"                              value="solucoes@gradualinvestimentos.com.br"/>

    <add key="Email_RemetenteGradual"                       value="atendimento@gradualinvestimentos.com.br"/>

    <add key="Email_NotificacaoDeposito_Destinatarios"      value="tesouraria@gradualinvestimentos.com.br" />

    <add key="Email_NotificacaoDeposito_Remetente"          value="atendimento@gradualinvestimentos.com.br" />

    <add key="Email_CopiaDeEnvioDoCadastro"                 value="cadastro@gradualinvestimentos.com.br"/>

    <add key="Email_Tesouraria"                             value="tesouraria@gradualinvestimentos.com.br"/>

    <add key="Email_Movimentacao"                           value="movimentacao@gradualinvestimentos.com.br" />

    <add key="Email_Movimentacao_Wealth"                    value="movimentacaowm@gradualinvestimentos.com.br"/>

    <add key="Email_CompraCambio"                           value="SP:lleal@gradualinvestimentos.com.br;brocha@gradualinvestimentos.com.br, RJ:brocha@gradualinvestimentos.com.br" />

    <add key="CalculadoraIR_IDCorretora"                    value="7"/>

    <add key="CalculadoraIR_EmailIR"                        value="codigo@gradual.com.br"/>

    <add key="TVGradual_UrlDaAPI"                           value="http://tv.gradualinvestimentos.com.br/api/"/>

    <add key="TVGradual_ChaveDaAPI"                         value="3497ce0aa3142a5d927a2afcd1deb49e"/>

    <add key="TVGradual_ChaveSecretaDaAPI"                  value="baa5784740d1656ea36fcd3f33d141ac"/>

    <add key="CalculadoraIR_SiteMyCapital"                  value="https://ws.mycapital.com.br/mycapital/viewext/parceria.seam"/>

    <add key="Chat_URL"                                     value="http://tv.gradualinvestimentos.com.br/api/player-iframe.php?"/>

    <add key="IPO_URL"                                      value="http://reserva.gradualinvestimentos.com.br/default.aspx"/>

    <add key="IdPlanoPoupeGradual200"                       value="1" />

    <add key="IdPlanoPoupeGradual500"                       value="2" />

    <add key="IdPlanoPoupeGradual700"                       value="3" />

    <add key="IdPlanoCalculadoraIRAberto"                   value="4" />

    <add key="IdPlanoCalculadoraIRFeachado"                 value="5" />

    <!-- para o servidor de teste: 192. -->
    <add key="IdDoProduto_GradualTraderInterface"           value="6" />
    <add key="IdDoProduto_GradualGraficos"                  value="7" />
    <add key="IdDoProduto_CursoMarcioNoronha"               value="8" />
    <add key="IdDoProduto_StockMarket"                      value="9" />
    <add key="IdDoProduto_GradualTravelCard"                value="10" />
    <add key="IdDoProduto_CursoAnaliseGrafica"              value="12" />

    <!-- para o servidor de produção: 254. -->
    <!--<add key="IdDoProduto_GradualTraderInterface"           value="7" />
    <add key="IdDoProduto_GradualGraficos"                  value="8" />
    <add key="IdDoProduto_CursoMarcioNoronha"               value="9" />
    <add key="IdDoProduto_StockMarket"                      value="10" />
    <add key="IdDoProduto_GradualTravelCard"                value="11" />
    <add key="IdDoProduto_CursoAnaliseGrafica"              value="12" />-->

    <add key="CodigoPermissao_EditarCMS"                    value="FCA62935-3DB9-4006-B1DF-95D854485667" />

    <add key="CodigoPermissao_EditarAnaliseEconomica"       value="6F47DFAA-C0D2-4856-BE7D-8693619B623F" />

    <add key="CodigoPermissao_EditarAnaliseFundamentalista" value="2E4A8860-401C-47FA-946A-5441AEFA3146" />

    <add key="CodigoPermissao_EditarAnaliseGrafica"         value="C8E46927-BC83-448C-95D9-4F138506EC24" />

    <add key="CodigoPermissao_EditarCarteirasRecomendadas"  value="4129710A-4FDA-4613-ABF2-8BE611F7F9DE" />

    <add key="CodigoPermissao_EditarNikkei"                 value="344B1981-7D1D-4EDB-9EF0-FC89A125DC82" />

    <add key="CodigoPermissao_EditarGradiusGestao"          value="04869B0B-3370-4680-B195-B5EDD346CB3C" />

    <add key="IdContrato_TermoParaRealizacaoOrdemStop"      value="35" />

    <add key="IdContrato_TermoAlavancagemFinanceira"        value="92" />

    <add key="TravelCard_Url"                               value="http://www.foxcambio.com.br/ext/cadastro2011.asp" />

    <add key="CepLivreChave"                                value="179d0b9b1564e772a5fd7e7d7fca508d" />

    <add key="PaginasQueIgnoramExtensaoAspx"                value="" />    <!-- páginas que podem ser visitadas com a extensão .aspx, que é removida pelo redirecionador; case insensitive -->

    <add key="FundosInaplicaveis"                           value="84, 43, 70" /> <!-- IDs de fundos cujo botão "aplicar" será oculto, separados por vírgula -->

    <add key="EstadosPermitidosEntregaCambio"               value="RJ, SP" />

    <add key="IPsDeLogoutHB" value="10.0.11.104,10.0.11.105,10.0.11.106,10.0.11.107,10.0.11.108" />

    <add key="PermitirComprarDuasVezes"                 value="nao" />  <!-- sim ou nao  -->
    <!-- ,10.0.11.104,10.0.11.105,10.0.11.106,10.0.11.107,10.0.11.108 -->
    
    <!-- Essa é pro ServicoSeguranca local: -->
    <add key="PermissaoDeAcessoAoSistema" value="22FF518C-C7D3-4ff0-A0CB-96F2476068BB"/>
    <add key="SessionsCacheFile"          value="C:\Dev\Gradual\Gradual.Site\Gradual.Site.Www" />
    
    <!-- Essas são para testar o serviço ficha cadastral por causa do Oracle no Win7 -->

    <add key="pathVirtualIntranet"       value="C:\Dev\Gradual\Gradual.Site\Gradual.Site.Www\Resc\Upload\" />
    <add key="pathVirtualPortal"         value="C:\Dev\Gradual\Gradual.Site-II\Gradual.Site-II.Www\Resc\PDFs\FichaCadastral\"/>
    <add key="pathVirtualPDF"            value="C:\Dev\Gradual\Gradual.Site\Gradual.Site.Www\Resc\Upload\Outros"/>
    <add key="pathVirtualImages"         value="C:\Dev\Gradual\Gradual.Etc\Gradual.Servico.FichaCadastral\Gradual.Servico.FichaCadastral\bin\Debug\RecursosVisuais\Imagens\"/>
    <add key="pathVirtualImagesCadastro" value="C:\Dev\Gradual\Gradual.Etc\Gradual.Servico.FichaCadastral\Gradual.Servico.FichaCadastral\bin\Debug\RecursosVisuais\Imagens\"/>


    <add key="TDHeader_LoginNome"                                         value="227WebServ"/>
    <add key="TDHeader_LoginSenha"                                        value="Serv*%$227"/>
    <add key="TDHeader_ContratoSenha"                                     value="33R3BBM8"/>
    <add key="TDHeader_ContratoHash"                                      value="-8w-5-gAyJRN"/>
    <add key="LogEnabled"                                                 value="False"/>
    <add key="LogPath"                                                    value="~/Logs/"/>
    <add key="GradualInvestimentos_WSTDConsultas_consultas"               value="http://oe161.trade.bvmf/consultas.asmx"/>
    <add key="GradualInvestimentos_WSDTCompra_compra"                     value="http://oe161.trade.bvmf/compra.asmx"/>
    <add key="GradualInvestimentos_WSTDConectividade_CTestaConectividade" value="http://oe161.trade.bvmf/INFRAConectividadeWS/INFRAConectividadeWS.asmx"/>
    <add key="GradualInvestimentos_WSTDVenda_venda"                       value="http://oe161.trade.bvmf/venda.asmx"/>
    <add key="GradualInvestimentos_WSTDInvestidor_Investidor"             value="http://oe161.trade.bvmf/investidor/investidor.asmx"/>
    <add key="UsuarioFinancial"                                           value="brocha" />
    <add key="SenhaFinancial"                                             value="gradual12345*"/>
    <add key="UsuarioItau"                                                value="gradual.op58" />
    <add key="SenhaItau"                                                  value="birocha2"/>
    <add key="CodigoGestorItau"                                           value="990686"/>
    <add key="GradualInvestimento_WSFundoItauOperacao"                    value="http://www.itaucustodia.com.br/PassivoWebServices/xmlmva.jsp?strXML="/>
    <add key="GradualInvestimento_WSFundoItauCotista"                     value="http://www.itaucustodia.com.br/PassivoWebServices/xmlcac.jsp?strXML="/>
</appSettings>
