<?xml version="1.0"?>

<configuration>

    <configSections>

        <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>

        <sectionGroup name="providers">
            <section name="urlBuilder" type="Gradual.Portal.CMS.Framework.Provider.ProviderConfigurationHandler, Gradual.Portal.CMS.Framework" requirePermission="false"/>
        </sectionGroup>

        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gradual.Site.Www.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Gradual.Portal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>

        <!--<section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=nullContaMargem allowLocation="true" allowDefinition="Everywhere" />-->
        <!--<section name="Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />-->
        <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
        <section name="Gradual.OMS.Persistencia.ServicoPersistenciaConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
        <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Desenvolvimento" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
        <section name="Gradual.OMS.Library.Servicos.AtivadorConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
        <section name="Gradual.OMS.Library.LocalizadorTiposConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

        <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />

    </configSections>

    <connectionStrings>

        <add name="sisfinance" connectionString="Data Source=gsp-srv-bcdrive;Initial Catalog=sim_cvgra;User Id=simgra;Password=sisfinance;" providerName="System.Data.SqlClient" />
        <add name="drive" connectionString="Data Source=gsp-srv-bcdrive;Initial Catalog=Drive_fundos;User Id=grau;Password=grau;" providerName="System.Data.SqlClient" />

        
        <add name="OMS" connectionString="Data Source=125.227.220.95; User Id=oms; Password=directtrade!1985; Initial Catalog=OMS;" providerName="System.Data.SqlClient" />
        <add name="Cadastro" connectionString="Data Source=125.227.220.95; User Id=directtrade; Password=directtrade!1985; Initial Catalog=DirectTradeCadastro;" providerName="System.Data.SqlClient" />
        <add name="ConexaoPortal" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=Portal_2014;" providerName="System.Data.SqlClient" />
        <add name="EducacionalSQL" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=Educacional;" providerName="System.Data.SqlClient" />
        <add name="RendaFixa" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=DirectTradeRendaFixa;" providerName="System.Data.SqlClient" />
        <add name="Seguranca" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=DirectTradeControleAcesso;" providerName="System.Data.SqlClient" />
        <add name="FundosItau" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=GRADUAL_CLUBES_FUNDOS;" providerName="System.Data.SqlClient" />
        <add name="Risco" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=GradualOMS;" providerName="System.Data.SqlClient" />
        <add name="CONTROLEACESSO" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=DirectTradeControleAcesso;" providerName="System.Data.SqlClient" />
        <add name="CadastroSQL" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=DirectTradeCadastro;" providerName="System.Data.SqlClient" />
        <add name="PlataformaInviXX" connectionString="Server=125.227.220.95; DataBase=CortexPlataformaProdutos; uid=directtrade; pwd=directtrade!1985" providerName="System.Data.SqlClient" />
        <add name="MINICOM"           connectionString="Data Source=125.227.220.95; User Id=minicom; Password=minicom; Initial Catalog=SCADIC;" providerName="System.Data.SqlClient" />
        
        
        <!--<add name="OMS" connectionString="Data Source=192.168.254.14; User Id=sa; Password=gradual123*; Initial Catalog=DirectTradeControleAcesso;" providerName="System.Data.SqlClient" />
        <add name="Cadastro" connectionString="Data Source=192.168.254.14; User Id=sa; Password=gradual123*; Initial Catalog=DirectTradeCadastro;" providerName="System.Data.SqlClient" />-->
        <!--<add name="Cadastro" connectionString="Data Source=125.227.220.95; User Id=sa; Password=gradual123*; Initial Catalog=DirectTradeCadastro;" providerName="System.Data.SqlClient" />-->
        <!--
        <add name="ConexaoPortal" connectionString="Data Source=192.168.254.14; User Id=sa;  Password=gradual123*; Initial Catalog=Portal;" providerName="System.Data.SqlClient" />
        <add name="EducacionalSQL" connectionString="Data Source=192.168.254.14; User Id=sa;  Password=gradual123*; Initial Catalog=Educacional;" providerName="System.Data.SqlClient" />
        <add name="RendaFixa" connectionString="Data Source=192.168.254.14; User Id=sa;  Password=gradual123*; Initial Catalog=DirectTradeRendaFixa;" providerName="System.Data.SqlClient" />
        <add name="Seguranca" connectionString="Data Source=192.168.254.14; User Id=sa;  Password=gradual123*; Initial Catalog=DirectTradeControleAcesso;" providerName="System.Data.SqlClient" />
        <add name="FundosItau" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=GRADUAL_CLUBES_FUNDOS;" providerName="System.Data.SqlClient" />
        <add name="Risco" connectionString="Data Source=125.227.220.95; User Id=directtrade;  Password=directtrade!1985; Initial Catalog=GradualOMS;" providerName="System.Data.SqlClient" />
        <add name="CONTROLEACESSO" connectionString="Data Source=192.168.254.14; User Id=sa;  Password=gradual123*; Initial Catalog=DirectTradeControleAcesso;" providerName="System.Data.SqlClient" />
        <add name="CadastroSQL" connectionString="Data Source=192.168.254.14; User Id=sa;  Password=gradual123*; Initial Catalog=DirectTradeCadastro;" providerName="System.Data.SqlClient" />
        <add name="PlataformaInviXX" connectionString="Server=192.168.254.14; User Id=sa;  Password=gradual123*; Initial Catalog=CortexPlataformaProdutos;" providerName="System.Data.SqlClient" />
        <add name="MINICOM"           connectionString="Data Source=125.227.220.95; User Id=minicom; Password=minicom; Initial Catalog=SCADIC;" providerName="System.Data.SqlClient" />
        -->
        <add name="CadastroOracle" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=user_cadastro;Password=user_cadastro181108" providerName="System.Data.OracleClient" />
        <add name="SinacorConsulta" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=cadastrosinacor;Password=cadastrosinacor" providerName="System.Data.OracleClient" />
        <add name="SINACOR" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=trade;Password=prod_trade" providerName="System.Data.OracleClient" />
        <add name="SinacorOracle" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=corrwin;Password=gradual200877" providerName="System.Data.OracleClient" />
        <add name="Trade" connectionString="Data Source=Sinacor;Persist Security Info=True;User ID=trade;Password=prod_trade" providerName="System.Data.OracleClient" />
        <add name="CONTAMARGEM" connectionString="Data Source=SINACORXXX;Persist Security Info=True;User ID=CONTA_MARGEM_NEW;Password=CONTA_MARGEM_NEW" providerName="System.Data.OracleClient" />
        <add name="MyCapital" connectionString="Data Source=SinacorXXX;Persist Security Info=True;User ID=mycapital;Password=G3h4V8g24b" providerName="System.Data.OracleClient" />
        <add name="Clubes" connectionString="Data Source=gsp-srv-bcdrive;Initial Catalog=sim_cvgra;User Id=simgra;Password=sisfinance;" providerName="System.Data.SqlClient" />
        <add name="DummyDataSource" connectionString="Data Source=GSP-SRV-MSMQL03;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="FIN_GRADUAL" connectionString="Data Source=gsp-srv-atatika\SQLATATIKA;Initial Catalog=FIN_GRADUAL;User ID=FINANCIAL;Password=fin#123**;Connect Timeout=1200;" providerName="System.Data.SqlCliente"  />

        <!--<add name="FIN_GRADUAL" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider"connectionString="Data Source=gsp-srv-atatika\SQLATATIKA;Initial Catalog=FIN_GRADUAL;User ID=FINANCIAL;Password=fin#123**;Connect Timeout=1200;"databaseVersion="2005"/>-->
    </connectionStrings>

    <!-- CLIENTE DO LOCALIZADOR -->
    <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
        <AtivacaoTipo>WCF</AtivacaoTipo>
        <EndPoint>
            <!--Endereco>net.tcp://192.168.254.11:800/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco-->
            <!--Endereco>net.tcp://10.0.11.156:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco-->
            <Endereco>net.tcp://10.0.11.157:18000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>

            <!--Endereco>http://wrapper.gradualinvestimentos.com.br:9999/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco-->

            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
        </EndPoint>
    </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>

    <Gradual.OMS.Library.Servicos.AtivadorConfig>
        <Servicos>
            <ServicoInfo>
                <NomeInterface>Gradual.Monitores.Risco.Lib.IServicoMonitorRisco, Gradual.Monitores.Risco.Lib</NomeInterface>
                <NomeInstancia>Gradual.Monitores.Risco.ServerMonitor, Gradual.Monitores.Risco</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <!--<ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.11:8083/Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>-->
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.156:18089/Gradual.Monitores.Risco.Lib.IServicoMonitorRisco</Endereco>
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>
        </Servicos>
        <Servicos>
            <ServicoInfo>
                <NomeInterface>Gradual.OMS.AcompanhamentoOrdens.Lib.IServicoAcompanhamentoOrdens, Gradual.OMS.AcompanhamentoOrdens.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.AcompanhamentoOrdens.ServicoAcompanhamentoOrdens, Gradual.OMS.AcompanhamentoOrdens</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <!--<ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.11:8083/Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>-->
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.157:18042/Gradual.OMS.AcompanhamentoOrdens.Lib.IServicoAcompanhamentoOrdens</Endereco>
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>
        </Servicos>
        <!-- Apontando para o serviço de ordens de produção -->
        <Servicos>
            <ServicoInfo>
                <NomeInterface>Gradual.Core.Ordens.Lib.IServicoOrdens, Gradual.Core.Ordens.Lib</NomeInterface>
                <NomeInstancia>Gradual.Core.Ordens.ServicoOrdens, Gradual.Core.Ordens</NomeInstancia>
                <!--<NomeInstancia>Gradual.OMS.ServicoRoteador.ServicoRoteadorOrdens, Gradual.OMS.ServicoRoteador</NomeInstancia>-->
                <AtivarWCF>true</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.157:18068/Gradual.Core.Ordens.Lib.IServicoOrdens</Endereco>
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>
        </Servicos>

        <!--Servicos>
          <ServicoInfo>
          <NomeInterface>Gradual.OMS.RelatoriosFinanc.Lib.IServicoRelatoriosFinanceiros, Gradual.OMS.RelatoriosFinanc.Lib</NomeInterface>
          <NomeInstancia>Gradual.OMS.RelatoriosFinanc.ServicoRelatoriosFinanceiros, Gradual.OMS.RelatoriosFinanc</NomeInstancia>
          <AtivarWCF>false</AtivarWCF>
          <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
          <RegistrarLocalizador>false</RegistrarLocalizador>
          <EndPoints>
            <ServicoEndPointInfo>
              <Endereco>net.tcp://10.0.11.152:9442/Gradual.OMS.RelatoriosFinanc.Lib.IServicoRelatoriosFinanceiros</Endereco>
              <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
            </ServicoEndPointInfo>
          </EndPoints>
        </ServicoInfo>
      </Servicos-->
        <Servicos>
            <ServicoInfo>
                <NomeInterface>Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia, Gradual.OMS.Monitor.Custodia.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.Monitor.Custodia.Servico.MonitorCustodiaServico, Gradual.OMS.Monitor.Custodia.Servico</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <!--<ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.11:8083/Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>-->
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.157:18083/Gradual.OMS.Monitor.Custodia.Lib.IServicoMonitorCustodia</Endereco>
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>

            <ServicoInfo>
                <NomeInterface>Gradual.OMS.ContaCorrente.Lib.IServicoExtratos, Gradual.OMS.ContaCorrente.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.ContaCorrente.ServicoExtratos, Gradual.OMS.ContaCorrente</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.157:18089/Gradual.OMS.ContaCorrente.Lib.IServicoExtratos</Endereco>
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>

            <ServicoInfo>
                <NomeInterface>Gradual.OMS.ContaCorrente.Lib.IServicoContaCorrente, Gradual.OMS.ContaCorrente.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.ContaCorrente.ServicoContaCorrente, Gradual.OMS.ContaCorrente</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.157:18089/Gradual.OMS.ContaCorrente.Lib.IServicoContaCorrente</Endereco>
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>

        </Servicos>
        <Servicos>

            <ServicoInfo>
                <NomeInterface>Gradual.OMS.Cotacao.Lib.IServicoCotacao, Gradual.OMS.Cotacao.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.Cotacao.ServicoCotacao, Gradual.OMS.Cotacao</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.101:8044/Gradual.OMS.Cotacao.Lib.IServicoCotacao</Endereco>
                        <!--<Endereco>net.tcp://192.168.254.11:8044/Gradual.OMS.Cotacao.Lib.IServicoCotacao</Endereco>-->
                        <!--<Endereco>net.tcp://92.168.254.13:8044/Gradual.OMS.Cotacao.Lib.IServicoCotacao</Endereco>-->
                        <!--<-Endereco>net.tcp://192.168.254.109:8044/Gradual.OMS.Cotacao.Lib.IServicoCotacao</Endereco>-->
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>

            <ServicoInfo>
                <NomeInterface>Gradual.OMS.Email.Lib.IServicoEmail, Gradual.OMS.Email.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.Email.ServicoEmail, Gradual.OMS.Email</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.152:8002/Gradual.OMS.Email.Lib.IServicoEmail</Endereco>
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>

            <!--ServicoInfo>
                <NomeInterface>Gradual.OMS.Email.Lib.IServicoEmail, Gradual.OMS.Email.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.Email.ServicoEmail, Gradual.OMS.Email</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo-->


            <ServicoInfo>
                <NomeInterface>Gradual.Servico.FichaCadastral.Lib.IServicoFichaCadastral, Gradual.Servico.FichaCadastral.Lib</NomeInterface>
                <NomeInstancia>Gradual.Servico.FichaCadastral.ServicoFichaCadastral,  Gradual.Servico.FichaCadastral</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>
            
            <!--ServicoInfo>
                <NomeInterface>Gradual.Servico.FichaCadastral.Lib.IServicoFichaCadastral, Gradual.Servico.FichaCadastral.Lib</NomeInterface>
                <NomeInstancia>Gradual.Servico.FichaCadastral.ServicoFichaCadastral,  Gradual.Servico.FichaCadastral</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://192.168.254.143:8252/Gradual.Servico.FichaCadastral.Lib.IServicoFichaCadastral</Endereco>
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo-->

            <!--ServicoInfo>
        <NomeInterface>Gradual.Servico.FichaCadastral.Lib.IServicoFichaCadastral, Gradual.Servico.FichaCadastral.Lib</NomeInterface>
        <NomeInstancia>Gradual.Servico.FichaCadastral.ServicoFichaCadastral,  Gradual.Servico.FichaCadastral</NomeInstancia>
        <AtivarWCF>false</AtivarWCF>
        <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
        <RegistrarLocalizador>false</RegistrarLocalizador>
        <EndPoints>
          <ServicoEndPointInfo>
            <Endereco>net.tcp://192.168.254.11:8252/Gradual.Servico.FichaCadastral.Lib.IServicoFichaCadastral</Endereco>
            <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
          </ServicoEndPointInfo>
        </EndPoints>
      </ServicoInfo-->

            <ServicoInfo>
                <NomeInterface>Gradual.OMS.PoupeDirect.Lib.IServicoPoupeDirect, Gradual.OMS.PoupeDirect.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.PoupeDirect.ServicoPoupeDirect,  Gradual.OMS.PoupeDirect</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.156:9242/Gradual.OMS.PoupeDirect.Lib.IServicoPoupeDirect</Endereco>
                        <!--<Endereco>net.tcp://192.168.254.11:9242/Gradual.OMS.PoupeDirect.Lib.IServicoPoupeDirect</Endereco>-->
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>

            <ServicoInfo>
                <NomeInterface>Gradual.OMS.TesouroDireto.Lib.IServicoTesouroDireto, Gradual.OMS.TesouroDireto.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.TesouroDireto.ServicoTesouroDireto, Gradual.OMS.TesouroDireto</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>WCF</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
                <EndPoints>
                    <ServicoEndPointInfo>
                        <Endereco>net.tcp://10.0.11.156:8942/Gradual.OMS.TesouroDireto.Lib.IServicoTesouroDireto</Endereco>
                        <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
                    </ServicoEndPointInfo>
                </EndPoints>
            </ServicoInfo>


        </Servicos>
    </Gradual.OMS.Library.Servicos.AtivadorConfig>

    <!-- SERVICOS A CARREGAR -->
    <Gradual.OMS.Library.Servicos.ServicoHostConfig-Desenvolvimento>
        <Servicos>

            <!-- Gradual.OMS.Contratos.Comum.IServicoPersistencia -->
            <ServicoInfo>
                <NomeInterface>Gradual.OMS.Persistencia.IServicoPersistencia, Gradual.OMS.Persistencia</NomeInterface>
                <NomeInstancia>Gradual.OMS.Persistencia.ServicoPersistencia, Gradual.OMS.Persistencia</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>

            <!--ServicoInfo>
            <NomeInterface>Gradual.OMS.TesouroDireto.Lib.IServicoTesouroDireto, Gradual.OMS.TesouroDireto.Lib</NomeInterface>
            <NomeInstancia>Gradual.OMS.TesouroDireto.ServicoTesouroDireto, Gradual.OMS.TesouroDireto</NomeInstancia>
            <AtivarWCF>false</AtivarWCF>
            <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
            <RegistrarLocalizador>false</RegistrarLocalizador>
        </ServicoInfo-->

            <!--ServicoInfo>
                <NomeInterface>Gradual.OMS.Email.Lib.IServicoEmail, Gradual.OMS.Email.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.Email.ServicoEmail, Gradual.OMS.Email</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo-->
            
            <!-- Gradual.OMS.Contratos.Comum.IServicoPersistencia -->
            <ServicoInfo>
                <NomeInterface>Gradual.OMS.Contratos.Comum.IServicoPersistencia, Gradual.OMS.Contratos.Comum</NomeInterface>
                <NomeInstancia>Gradual.OMS.Sistemas.Comum.ServicoPersistencia, Gradual.OMS.Sistemas.Comum</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>

            <!-- Gradual.OMS.PlanoCliente.Lib -->
            <ServicoInfo>
                <NomeInterface>Gradual.OMS.PlanoCliente.Lib.IServicoPlanoCliente, Gradual.OMS.PlanoCliente.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.PlanoCliente.ServicoPlanoCliente, Gradual.OMS.PlanoCliente</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>
            
            <!-- Gradual.Intranet.Contratos.IServicoPersistenciaCadastro -->
            <ServicoInfo>
                <NomeInterface>Gradual.Intranet.Contratos.IServicoPersistenciaCadastro, Gradual.Intranet.Contratos</NomeInterface>
                <NomeInstancia>Gradual.Intranet.Servicos.BancoDeDados.ServicoPersistenciaCadastro, Gradual.Intranet.Servicos.BancoDeDados</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>

            <!-- Gradual.Site.DbLib.IServicoSite -->
            <ServicoInfo>
                <NomeInterface>Gradual.Site.DbLib.IServicoPersistenciaSite, Gradual.Site.DbLib</NomeInterface>
                <NomeInstancia>Gradual.Site.DbLib.Persistencias.ServicoPersistenciaSite, Gradual.Site.DbLib</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>

            <!--  ATENÇÃO!!! IServicoSegurancaPersistencia tem que vir ANTES de IServicoSeguranca no web.config!!  -->

            <ServicoInfo>
                <NomeInterface>Gradual.OMS.Seguranca.Lib.IServicoSegurancaPersistencia, Gradual.OMS.Seguranca.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.Seguranca.ServicoSegurancaPersistencia, Gradual.OMS.Seguranca</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>

            <!-- Gradual.Site.DbLib.IServicoSeguranca -->
            <ServicoInfo>
                <NomeInterface>Gradual.OMS.Seguranca.Lib.IServicoSeguranca, Gradual.OMS.Seguranca.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.Seguranca.ServicoSeguranca, Gradual.OMS.Seguranca</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>

            <!--ServicoInfo>
          <NomeInterface>Gradual.OMS.Email.Lib.IServicoEmail, Gradual.OMS.Email.Lib</NomeInterface>
          <NomeInstancia>Gradual.OMS.Email.ServicoEmail, Gradual.OMS.Email</NomeInstancia>
          <AtivarWCF>false</AtivarWCF>
          <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
          <RegistrarLocalizador>false</RegistrarLocalizador>
      </ServicoInfo-->

            <ServicoInfo>
                <NomeInterface>Gradual.Servico.FichaCadastral.Lib.IServicoFichaCadastral, Gradual.Servico.FichaCadastral.Lib</NomeInterface>
                <NomeInstancia>Gradual.Servico.FichaCadastral.ServicoFichaCadastral,  Gradual.Servico.FichaCadastral</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>


            <!-- Gradual.OMS.PosicaoBTC.Lib.IServicoPosicaoBTC -->
            <ServicoInfo>
                <NomeInterface>Gradual.OMS.PosicaoBTC.Lib.IServicoPosicaoBTC, Gradual.OMS.PosicaoBTC.Lib</NomeInterface>
                <NomeInstancia>Gradual.OMS.PosicaoBTC.ServicoPosicaoBTC, Gradual.OMS.PosicaoBTC</NomeInstancia>
                <AtivarWCF>false</AtivarWCF>
                <AtivacaoDefaultTipo>Local</AtivacaoDefaultTipo>
                <RegistrarLocalizador>false</RegistrarLocalizador>
            </ServicoInfo>


        </Servicos>
    </Gradual.OMS.Library.Servicos.ServicoHostConfig-Desenvolvimento>

    <!-- SERVICOS COMUNS - PERSISTENCIA DE OBJETOS -->
    <Gradual.OMS.Persistencia.ServicoPersistenciaConfig>
        <Persistencias>
            <PersistenciaInfo>
                <TipoPersistencia>Gradual.Intranet.Servicos.BancoDeDados.Persistencias.PersistenciaDbIntranet, Gradual.Intranet.Servicos.BancoDeDados</TipoPersistencia>
                <Default>true</Default>
            </PersistenciaInfo>
        </Persistencias>
    </Gradual.OMS.Persistencia.ServicoPersistenciaConfig>

    <system.web>

        <compilation debug="true" targetFramework="4.0" />

        <customErrors mode="Off"></customErrors>

        <authentication mode="Windows"/>
        <!--identity impersonate="true" userName="GRADUAL\svc.portal" password="webaccess1*"/-->

        <globalization uiCulture="pt-BR" culture="pt-BR" />

        <!-- <authentication mode="None"/>
        <identity impersonate="false" /> -->

        <pages enableViewState="true" enableViewStateMac="false" validateRequest="false" ></pages>

        <httpRuntime requestValidationMode="2.0"  maxRequestLength="524288" executionTimeout="360"/>
        <!--  1048576 é 1Gb de limite de upload; pus metade...  -->

        <httpModules>
            <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter" />
        </httpModules>

    </system.web>

    <appSettings file="AppSettings.config">
        <clear/>
    </appSettings>

    <log4net>
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
            <file value="Gradual-Site.log" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMMdd" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="DEBUG" />
            <!-- Mudar para INFO ou menor em producao -->
            <appender-ref ref="LogFileAppender" />
        </root>
        z
        <logger name="Gradual.OMS.Library.Servicos.Ativador">
            <level value="ERROR" />
            <appender-ref ref="LogFileAppender" />
        </logger>

    </log4net>

    <rewriter>
        <unless url="(/MinhaConta/)|(/Resc/)|(/404.aspx)|(/busca.aspx)|(/plataformadefundos.aspx)|(/ofertapublica.aspx)|(/cambio.aspx)|(/async/)|(.pdf)">
            <rewrite url="/(.+)$" to="~/PaginaDinamica.aspx?url=$1" />
        </unless>
        <!-- http://urlrewriter.net -->
    </rewriter>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CadastroSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="PosicaoCotistaWSSoap" />
                <binding name="CadastroCotistaWSSoap" />
                <binding name="OperacaoCotistaWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Gradual.OMS.WsIntegracao/Cadastro.asmx"
                binding="basicHttpBinding" bindingConfiguration="CadastroSoap"
                contract="WsCadastro.CadastroSoap" name="CadastroSoap" />
            <endpoint address="http://financial.gradual.intra/WebServicesCustom/Gradual/PosicaoCotista.asmx"
                binding="basicHttpBinding" bindingConfiguration="PosicaoCotistaWSSoap"
                contract="PosicaoCotista.PosicaoCotistaWSSoap" name="PosicaoCotistaWSSoap" />
            <endpoint address="http://financial.gradual.intra/webservices/cotista/cadastrocotista.asmx"
                binding="basicHttpBinding" bindingConfiguration="CadastroCotistaWSSoap"
                contract="CadastroCotista.CadastroCotistaWSSoap" name="CadastroCotistaWSSoap" />
            <endpoint address="http://financial.gradual.intra/webservices/cotista/operacaocotista.asmx"
                binding="basicHttpBinding" bindingConfiguration="OperacaoCotistaWSSoap"
                contract="OperacaoCotista.OperacaoCotistaWSSoap" name="OperacaoCotistaWSSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Gradual.Site.Www.Properties.Settings>
            <setting name="Gradual_Site_Www_wsIndiceGradual_WSIndiceGradualInterface"
              serializeAs="String">
                <value>http://wsindicegradualinterface.gradualinvestimentos.com.br/WSIndiceGradualInterface.asmx</value>
            </setting>
        </Gradual.Site.Www.Properties.Settings>
    </applicationSettings>
</configuration>

