<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gradual.Integracao.IndiceGradual.Teste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Gradual.Integracao.IndiceGradual.Teste.Properties.Settings>
            <setting name="Gradual_Integracao_IndiceGradual_Teste_localhost_WSIndiceGradualInterface"
                serializeAs="String">
                <value>http://localhost:4155/WSIndiceGradualInterface.asmx</value>
            </setting>
        </Gradual.Integracao.IndiceGradual.Teste.Properties.Settings>
    </applicationSettings>
</configuration>