<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add providerName="System.Data.SqlClient"    name="Cadastro"  connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeCadastro;User Id=directtrade;Password=directtrade!1985;" />
    <add providerName="System.Data.SqlClient"    name="OMS"       connectionString="Data Source=125.227.220.95;Initial Catalog=OMS;User Id=oms;Password=gradual123*;" />
    <add providerName="System.Data.SqlClient"    name="Seguranca" connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeControleAcesso;User Id=directtrade;Password=directtrade!1985;" />
    <!--<add providerName="System.Data.SqlClient"    name="Seguranca" connectionString="Data Source=192.168.254.14;Initial Catalog=DirectTradeControleAcesso;User Id=sa;Password=gradual123*;" />-->
    <add providerName="System.Data.OracleClient" name="MyCapital" connectionString="Data Source=SinacorXXX;Persist Security Info=True;User ID=mycapital;Password=G3h4V8g24b"/>
  </connectionStrings>
  <appSettings>
    <add key="EmailCalculadoraIR" value="codigo@gradual.com.br" />
  </appSettings>
</configuration>
