<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add providerName="System.Data.SqlClient" name="Cadastro" connectionString="Data Source=125.227.220.95;Initial Catalog=DirectTradeCadastro;User Id=directtrade;Password=directtrade!1985;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
