<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add providerName="System.Data.SqlClient"    name="ConexaoEducacionalSql"    connectionString="Data Source=192.168.254.14;Initial Catalog=Educacional;User Id=sa;Password=gradual123*;" />
    <add providerName="System.Data.OracleClient" name="ConexaoEducacionalOracle" connectionString="Data Source=SINACOR;Persist Security Info=True;User ID=educacional;Password=educacional181108" />
  </connectionStrings>
</configuration>