<?xml version="1.0"?>
<configuration>
  
  <configSections>

    <section name="Gradual.OMS.Library.Servicos.LocalizadorClienteConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

    <section name="Gradual.OMS.Library.Servicos.ServicoHostConfig-Default" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

    <section name="Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

    <section name="Gradual.OMS.Library.LocalizadorTiposConfig" type="Gradual.OMS.Library.ConfigurationHandler, Gradual.OMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>

  </configSections>

  <!-- CLIENTE DO LOCALIZADOR -->
  <Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
    <AtivacaoTipo>WCF</AtivacaoTipo>
    <EndPoint>
      <Endereco>net.tcp://10.0.11.152:8000/Gradual.OMS.Library.Servicos.IServicoLocalizador</Endereco>
      <NomeBindingType>System.ServiceModel.NetTcpBinding</NomeBindingType>
    </EndPoint>
  </Gradual.OMS.Library.Servicos.LocalizadorClienteConfig>
  
  <!-- LOCALIZADOR DE TIPOS -->
  <Gradual.OMS.Library.LocalizadorTiposConfig>
    <Grupos>
      <LocalizadorGrupoTipoInfo TipoChamador="Gradual.OMS.Contratos.Comum.IServicoMensageria, Gradual.OMS.Contratos.Comum">
        <Tipos>
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.CadastroPapeis.Mensagens, Gradual.OMS.Contratos.CadastroPapeis"/>
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.CadastroPapeis.Dados, Gradual.OMS.Contratos.CadastroPapeis"/>
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.Comum.Dados, Gradual.OMS.Contratos.Comum"/>
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.Comum.Mensagens, Gradual.OMS.Contratos.Comum"/>
          <LocalizadorTipoInfo IncluirNamespace="Gradual.OMS.Contratos.Comum.Permissoes, Gradual.OMS.Contratos.Comum"/>
        </Tipos>
      </LocalizadorGrupoTipoInfo>
    </Grupos>
  </Gradual.OMS.Library.LocalizadorTiposConfig>

  <!-- SERVICO DE MENSAGERIA -->
  <Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig>
    <IncluirTipos>
      <string>Gradual.OMS.Contratos.CadastroPapeis.IServicoCadastroPapeis, Gradual.OMS.Contratos.CadastroPapeis</string>
    </IncluirTipos>
    <ValidarMensagens>true</ValidarMensagens>
  </Gradual.OMS.Sistemas.Comum.ServicoMensageriaConfig>

  <!-- SERVICOS A CARREGAR -->
  <Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
    <Servicos/>
  </Gradual.OMS.Library.Servicos.ServicoHostConfig-Default>
  
  <connectionStrings>
    <add name="OMS" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.254.14;Initial Catalog=OMS;User Id=sa;Password=gradual123*;"/>
    <add name="MDS" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.254.14;Initial Catalog=MDS;User Id=sa;Password=gradual123*;"/>
    <add name="Trade" connectionString="Data Source=SINACORXXX;Persist Security Info=True;User ID=TRADE;Password=PROD_TRADE" providerName="System.Data.OracleClient"/>
  </connectionStrings>

  <appSettings>
    <add key="TemporizadorListagemBovespaBmf" value="8"/>
    <!--<add key="PapeisExistentesServicoCotacao" value="BRBK,BRIS,REAL"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "TracesCadastroPapeis.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
